<% action = "update" %>
<% topic = Topic.find(fm.topic_id) %>
<% @fpdh = fm.future_patient_data_hash %>
<div class="card">
  <% if fm.gallery && !fm.gallery.attachments.blank? %>
    <%= image_tag(fm.gallery.attachments[0].url, class: "card-img-top img-fluid") %>
    <%= link_to "Manage Attachments ›", gallery_path(@gallery.id), class: "btn btn-secondary" %>
  <% end %>
  <h4 class="card-header">
    <%= "#{topic.name}: #{print_if_present(@fpdh['first_name'])} #{print_if_present(@fpdh['last_name'])}" %>
  </h4>
  <div class="card-block">
    <p class="card-text">
      <%= death_info(fm) %>
      <br />
      Notes: <%= @fpdh['note'].blank? ? "none" : @fpdh['note'] %>
    </p>
    <button type="button" class="btn btn-primary btn-sm" data-animation="false" data-toggle="modal" data-target="#<%= fm.id -%>Modal" style="display: block; margin: 0 auto;" id=<%= topic.name %>>
      <i class="fa fa-search"></i>
      See Details
    </button>
  </div>
</div>
<div class="modal fade" id=<%= "#{fm.id}Modal" %> tabindex="-1" role="dialog" aria-labelledby="showModalLabel" aria-hidden="true">
  <%= render 'family_members/show_modal', fm: fm, f: f  %>
</div>
