<div class="form-group">
  <%= render 'visits/visit_presence_checker', f: f %>
  <%= f.hidden_field :topic_id, class: "family-response", value: "" %>
  <%= f.fields_for :future_patient_data_hash do |ff| %>
  <div class="row">
    <div class="col-xs-6">
      <%= ff.label "First Name:", class: "control-label" %><br />
      <%= ff.text_field :first_name, class: "form-control form-control-lg" %>
    </div>
    <div class="col-xs-6">
      <%= ff.label "Last Name:", class: "control-label" %><br />
      <%= ff.text_field :last_name, class: "form-control form-control-lg" %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <%= ff.label "Year of Birth:", class: "control-label" %><br />
      <%= ff.number_field :date_of_birth, class: "form-control form-control-lg", min: 1900, step: 1 %>
    </div>
    <div class="col-xs-6">
      <%= ff.label "Check if deceased:", class: "control-label" %><br />
      <%= ff.check_box :deceased, class: "form-control form-control-lg btn btn-default", onclick: "$('#deceased').toggle();" %>
    </div>
  </div>
  
  <div  id="deceased" style="display: none">
    <div class="row">
      <div class="col-xs-12">
        <%= ff.label "When did they die?", class: "control-label" %>
        <br />
      </div>
      <%= render 'layouts/relative_absolute_date', fff: ff, column_title: :death_date %>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= ff.label "What was their cause of death?", class: "control-label" %><br />
        <div class="form-check">
          <% CAUSES_OF_DEATH.each do |c| %>
            <label class="form-check-label", value=<%= c %>>
              <%= ff.radio_button :cause_of_death, "#{c}", class: "form-check-input" %>
              <%= c %>
            </label>
          <% end %>
          <div class="input-group">
            <span class="input-group-addon">
              <input type="radio" aria-label="Radio button for following text input">
            </span>
            <input type="text" class="form-control" aria-label="Text input with radio button">
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  <div class="row">
    <div class="col-xs-12">
      <%= ff.label "Anything else to add?", class: "control-label" %><br />
      <%= ff.text_area :note, class: "form-control form-control-lg" %>
    </div>
  </div>
  <% end %>
</div>
