<div class="card card-block">
  <h4 class="card-title"><%= rt.name %></h4>
  <p class="card-text">
    <% @fm = @visit.family_members.where(seeded_relationship_type_id: rt.id)[0] %>
    <% if @fm.nil? %>
      <% @action = "create" %>
      No <%= rt.name %> noted. Add one?

    <% else %>
      <% @fpdh = @fm.future_patient_data_hash %>

      <% @action = "update" %>
      Name: <%= @fpdh['first_name'] ? @fpdh['first_name'] : "Name not noted" %>
      <br />
      <% if !@fpdh['deceased'] %>
        <% @age = ((Date.today - @fpdh['date_of_birth'].to_i)/365.25).floor %>
        Age: <%= @age ? "#{@age} years" : "Not noted" %> (living)
        <br />
      <% else %>
        (deceased)
        <br />
        Cause of death: <%= @fpdh['cause_of_death'] ? @fpdh['cause_of_death'] : "Not noted" %>
        <br />
      <% end %>
      Notes: <%= @fpdh['note'] ? @fpdh['note'] : "none" %>
      <br />
      <hr />
    <% end %>
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#<%= rt.name_camelcase -%>Modal" style="display: block; margin: 0 auto;" id=<%= rt.name_underscore %>><%= "#{@action.capitalize} #{rt.name}" %></button>
  </p>
</div>
<div class="modal fade" id=<%= "#{rt.name_camelcase}Modal" %> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render 'family_members/family_tree_modal', relationship: rt.name, relationship_type_id: rt.id %>
</div>
