<div class="form-group">
  <%= render 'visits/visit_presence_checker', f: f %>
  <div class="row">
    <div class="col-xs-12">
      <%= f.number_field :topic_id, class: "family-response form-control form-control-lg", value: "", aria: { describedby: "famIDExplanation "} %>
      <p id="famIDExplanation" class="purple text-muted">
        Identifies relationship to patient, e.g. "mother", "child"
      </p>
    </div>
  </div>
  <%= f.hidden_field :patient_id, value: @patient.id %>
  <%= f.fields_for :future_patient_data_hash do |ff| %>
  <div class="row">
    <div class="col-xs-6">
      <%= ff.label "First Name:", class: "control-label" %><br />
      <%= ff.text_field :first_name, class: "form-control form-control-lg" %>
    </div>
    <div class="col-xs-6">
      <%= ff.label "Last Name:", class: "control-label" %><br />
      <%= ff.text_field :last_name, class: "form-control form-control-lg" %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <%= ff.label "Date of Birth:", class: "control-label" %><br />
      <%= ff.date_field :date_of_birth, class: "form-control form-control-lg", min: 1, step: 1 %>
    </div>
    <div class="col-xs-6">
      <%= ff.label "Check if deceased:", class: "control-label" %><br />
      <%= ff.check_box :deceased, class: "form-control form-control-lg btn btn-default", onclick: "$('#deceased').toggle();" %>
    </div>
  </div>
  <div class="row">
    <div id="deceased" class="col-xs-12" style="display: none">
      <%= ff.label "What was their cause of death?", class: "control-label" %><br />
      <%= ff.text_field :cause_of_death, class: "form-control form-control-lg" %>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-12">
      <%= ff.label "Anything else to add?", class: "control-label" %><br />
      <%= ff.text_area :note, class: "form-control form-control-lg" %>
    </div>
  </div>
  <% end %>
</div>
