<table class="table">
  <tr>
    <th>
      KEY
    </th>
    <th>
      VALUE
    </th>
  </tr>
  <% fm.future_patient_data_hash.each do |k, v| %>
  <tr>
    <td>
      <%= k.to_s.titleize %>
    </td>
    <td>
      <% case k %>
      <% when 'deceased' %>
        <%= v == '1' ? true : false %>
      <% when 'death_date' %>
        <%= v.empty? ? "approx #{find_date(fm.future_patient_data_hash['death_time_ago'], fm.future_patient_data_hash['death_time_ago_scale'], Date.today).strftime('%d %B %Y')}" : "#{Date.new(v.to_i).strftime('%d %B %Y')}" %>

      <% when 'date_of_birth' %>
        <%= Date.new(v.to_i).strftime('%d %B %Y') %>
      <% else %>
        <%= print_if_present(v) %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
