<div class="hidden-sm hidden-xs btn-group btn-group-sm hidden-sm-down" role="group">
  <%= link_to "View Details", family_member_path(id: fm.id), type: "button", method: :get, class: "btn btn-primary" %>
  <%= link_to "Edit", edit_family_member_path(id: fm.id), type: "button", method: :get, class: "btn btn-secondary" %>
  <%= link_to "Destroy", family_member_path(id: fm.id), method: :delete, type: "button", class: "btn btn-secondary" %>
  <%= link_to "Claim", new_patient_path(fm: fm.id), type: "button", class: "btn btn-info disabled" %>
</div>
<div class="hidden-md hidden-lg hidden-xlg btn-group btn-group-sm" role="group">
  <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Actions
  </button>
  <ul class="dropdown-menu">
    <li><%= link_to "View Details", family_member_path(id: fm.id), method: :get %></li>
    <li><%= link_to "Edit", edit_family_member_path(id: fm.id), method: :get %></li>
    <li><%= link_to "Destroy", family_member_path(id: fm.id), method: :delete %></li>
    <li><%= link_to "Claim", new_patient_path(fm: fm.id), class: "disabled" %></li>
  </ul>
</div>
