<div class="card">
  <div class="card-header">
    Family Members
  </div>
  <% if family_members.length != 0 %>
    <table class="table table-striped table-responsive">
      <tr>
        <!-- <th>Type</th> -->
        <% if @display_location == "Patient Show" %>
          <th>Visit</th>
        <% end %>
        <th>Name</th>
        <th>Relationship</th>
        <th>Living?</th>
        <th>Note</th>
        <th>Actions</th>
      </tr>
      <% family_members.each do |fm| %>
        <tr>
          <!-- <th><%= link_to "#{fm.topic_id}", topic_path(fm.topic_id) %></th> -->
          <% if @display_location == "Patient Show" %>
            <td><% link_to "Visit #{fm.visit_id}", visit_path(fm.visit_id) %></td>
          <% end %>
          <td><%= "#{print_if_present(fm.future_patient_data_hash['first_name'])} #{print_if_present(fm.future_patient_data_hash['last_name'])}" %></td>
          <td><%= fm.topic.name %></td>
          <td><%= death_info(fm) %></td>
          <td><%= fm.future_patient_data_hash['note'] %></td>
          <td>
            <%= render 'family_members/link_buttons', fm: fm %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="card-block">
      <% if @display_location == "Patient Show" %>
        Patient has not noted any family members
      <% else %>
        Patient has not discussed any family members.
      <% end %>
    </div>
  <% end %>
</div>
