<div class="row">
  <div class="col-sm">
    <%= form_tag "/family_members", method: "get", id: "search-form" do %>
      <div class="input-group">
        <%= text_field_tag :search, params[:search], placeholder:  "Search Family Members...", class: "form-control" %>
        <span class="input-group-btn">
          <%= button_tag(family_members_path, method: "get", type: "submit", class: "btn btn-secondary", id: "search" ) do %>
          <i class="fa fa-search"></i>
          <% end %>
        </span>
      </div><br /><br />
    <% end %>
    <% if @family_members.blank? %>
      <h4>There are no relations whose name contains "<%= params[:search] %>"</h4>
    <% else %>
    <div class="card">
      <div class="card-header">
        <% if !params[:search].blank? %>
          <h1>All relations whose names include "<%= params[:search] %>"</h1>
        <% else %>
          <h1>All Family Members</h1>
        <% end %>
      </div>
      <table class="table table-striped table-responsive">
        <tr>
          <th data-sortable="true">Summary</th>
          <th>Actions</th>
        </tr>
        <% @family_members.each do |fm| %>
          <tr>
            <td>
              <%= fm.generate_summary %>
            </td>
            <td>
              <%= render 'family_members/link_buttons', fm: fm %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <% end %>
  </div>
</div>
