<div class="row">
  <div class="col-sm">
    <%= form_tag "/family_members", method: "get", id: "search-form" do %>
      <div class="input-group">
        <%= text_field_tag :search, params[:search], placeholder:  "Search Family Members...", class: "form-control" %>
        <span class="input-group-btn">
          <%= button_tag(family_members_path, method: "get", type: "submit", class: "btn btn-secondary", id: "search" ) do %>
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          <% end %>
        </span>
      </div><br /><br />
    <% end %>
    <% if @family_members.blank? %>
      <h4>There are no relations whose name contains "<%= params[:search] %>"</h4>
    <% else %>
    <div class="card">
      <div class="card-header">
        <% if !params[:search].blank? %>
          <h1>All relations whose names include "<%= params[:search] %>"</h1>
        <% else %>
          <h1>All Family Members</h1>
        <% end %>
      </div>
      <table class="table table-striped table-responsive">
        <tr>
          <th data-sortable="true">Name</th>
          <th data-sortable="true">Relation</th>
          <th>Actions</th>
        </tr>
        <% @family_members.each do |fm| %>
          <% if fm.future_patient_data_hash %>
            <% @fpdh = fm.future_patient_data_hash %>
          <% else %>
            <% @fpdh = {"note"=>"", "deceased"=>"", "last_name"=>"", "first_name"=>"", "date_of_birth"=>"", "cause_of_death"=>""} %>
          <% end %>
          <% @srt = SeededRelationshipType.where(ahnentafel_id: fm.seeded_relationship_type_id)[0] %>
          <% @patient = Patient.where(id: (Visit.find(fm.visit_id).patient_id))[0] %>
          <tr class="clickable" style="cursor:pointer;" onclick=<%= "location.href='/family_members/" + "#{fm.id}'" %>>
            <td><%= @fpdh['first_name'] %></td>
            <% if @patient.nil? %>
              <td><%= "#{@srt.description} " %> [redacted]</td>
            <% else %>
              <td><%= "#{@srt.description} " %><%= link_to "#{@patient.first_name} #{@patient.last_name}", patient_path(id: @patient.id) %></td>
            <% end %>
            <td>
              <%= render 'family_members/link_buttons', fm: fm %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <% end %>
  </div>
</div>
