<div class="card">
  <div class="card-header">
    Symptoms
  </div>
  <% if symptoms.length != 0 %>
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>Symptom</th>
          <th>System</th>
          <th>Present?</th>
          <th>Measurement</th>
          <th>Attachments</th>
          <th>Actions</th>
        </tr>
      </thead>
      <% symptoms.each do |s| %>
        <tr>
          <td><%= SeededSymptom.where(id: s.seeded_symptom_id)[0].common_name %></td>
          <td><%= SeededSymptom.where(id: s.seeded_symptom_id)[0].systemic_category %></td>
          <td><%= s.presence %></td>
          <td><%= s.measurement %></td>
          <td><%= render 'layouts/attachment_thumbnails', model: s %></td>
          <td><%= render 'symptoms/link_buttons', t: t %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="card-block">
      Patient has not reported any symptoms.
    </div>
  <% end %>
</div>
