<h3 class="red h3">Symptoms</h3>
<div class="form-group">
  <div class="form-check">
    <%= f.label "In which category are your symptoms?", class: "form-check-label text-center" %>
    <br />
    <label class="form-check-label radio-inline", value="Cardiac" >
      <dt>
        <%= f.radio_button :secondary_reason, "Cardiac", class: "form-check-input", onclick: "renderCardiacSymptoms();" %>
      </dt>
      <dd value="Cardiac">Cardiac</dd>
    </label>
    <br />
    <label class="form-check-label radio-inline", value="Ocular" >
      <dt>
        <%= f.radio_button :secondary_reason, "Ocular", class: "form-check-input", onclick: "renderOcularSymptoms();" %>
      </dt>
      <dd value="Ocular">Ocular</dd>
    </label>
    <br />
    <label class="form-check-label radio-inline", value="Aural" >
      <dt>
        <%= f.radio_button :secondary_reason, "Aural", class: "form-check-input", onclick: "renderAuralSymptoms();" %>
      </dt>
      <dd value="Aural">Aural</dd>
    </label>
    <br />
    <label class="form-check-label radio-inline", value="Ocular" >
      <dt>
        <%= f.radio_button :secondary_reason, "Ocular", class: "form-check-input", onclick: "renderOcularSymptoms();" %>
      </dt>
      <dd value="Ocular">Ocular</dd>
    </label>
    <br />
    <label class="form-check-label radio-inline", value="Pulmonary" >
      <dt>
        <%= f.radio_button :secondary_reason, "Pulmonary", class: "form-check-input", onclick: "renderPulmonarySymptoms();" %>
      </dt>
      <dd value="Pulmonary">Pulmonary</dd>
    </label>
    <br />
    <label class="form-check-label radio-inline", value="Integumentary" >
      <dt>
        <%= f.radio_button :secondary_reason, "Integumentary", class: "form-check-input", onclick: "renderIntegumentarySymptoms();" %>
      </dt>
      <dd value="Integumentary">Integumentary</dd>
    </label>
    <br />
    <label class="form-check-label radio-inline", value="Cranial" >
      <dt>
        <%= f.radio_button :secondary_reason, "Cranial", class: "form-check-input", onclick: "renderCranialSymptoms();" %>
      </dt>
      <dd value="Cranial">Cranial</dd>
    </label>
    <br />
    <label class="form-check-label radio-inline", value="Feet" >
      <dt>
        <%= f.radio_button :secondary_reason, "Feet", class: "form-check-input", onclick: "renderFeetSymptoms();" %>
      </dt>
      <dd value="Feet">Feet</dd>
    </label>
    <br />
    <label class="form-check-label radio-inline", value="Hand" >
      <dt>
        <%= f.radio_button :secondary_reason, "Hand", class: "form-check-input", onclick: "renderHandSymptoms();" %>
      </dt>
      <dd value="Hand">Hand</dd>
    </label>
    <br />
    <label class="form-check-label radio-inline", value="General Skeletal" >
      <dt>
        <%= f.radio_button :secondary_reason, "General Skeletal", class: "form-check-input", onclick: "renderGeneralSkeletalSymptoms();" %>
      </dt>
      <dd value="General Skeletal">General Skeletal</dd>
    </label>
  </div>
</div>

<div class="form-group">
  <%= f.fields_for :patient do |ff| %>
    <% ff. fields_for :symptoms do |fff| %>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div id="symptom_category"></div>
        </div>
      </div>
      <script>
        function renderCardiacSymptoms() {
          $('#symptom_category').html("<%= j render 'symptoms/systemic_categories/cardiac', f: fff, symptoms: @cardiac_symptoms %>")
        }
        function renderOcularSymptoms() {
          $('#symptom_category').html("<%= j render 'symptoms/systemic_categories/dural', f: fff, symptoms: @dural_symptoms %>")
        }
        function renderAuralSymptoms() {
          $('#symptom_category').html("<%= j render 'symptoms/systemic_categories/aural', f: fff, symptoms: @aural_symptoms %>")
        }
        function renderOcularSymptoms() {
          $('#symptom_category').html("<%= j render 'symptoms/systemic_categories/ocular', f: fff, symptoms: @ocular_symptoms %>")
        }
        function renderPulmonarySymptoms() {
          $('#symptom_category').html("<%= j render 'symptoms/systemic_categories/pulmonary', f: fff, symptoms: @pulmonary_symptoms %>")
        }
        function renderIntegumentarySymptoms() {
          $('#symptom_category').html("<%= j render 'symptoms/systemic_categories/integumentary', f: fff, symptoms: @integumentary_symptoms %>")
        }
        function renderCranialSymptoms() {
          $('#symptom_category').html("<%= j render 'symptoms/systemic_categories/cranial', f: fff, symptoms: @cranial_symptoms %>")
        }
        function renderFeetSymptoms() {
          $('#symptom_category').html("<%= j render 'symptoms/systemic_categories/feet', f: fff, symptoms: @feet_symptoms %>")
        }
        function renderGeneralSkeletalSymptoms() {
          $('#symptom_category').html("<%= j render 'symptoms/systemic_categories/general_skeletal', f: fff, symptoms: @general_skeletal_symptoms %>")
        }
        function renderHandSymptoms() {
          $('#symptom_category').html("<%= j render 'symptoms/systemic_categories/hand', f: fff, symptoms: @hand_symptoms %>")
        }

      </script>
    <% end %>
  <% end %>
</div>
