<%= form_for(@diagnosis) do |f| %>
  <div class="field">
    <%= f.label :topic_id %><br>
    <%= f.text_field :topic_id disabled: "disabled" %>
  </div>
  <div class="field">
    <%= f.label :patient_id %><br>
    <%= f.text_field :patient_id disabled: "disabled" %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.text_field :start_date %>
  </div>
  <div class="field">
    <%= f.label :frequency %><br>
    <%= f.text_field :frequency %>
  </div>
  <div class="field">
    <%= f.label :time_ago %><br>
    <%= f.text_field :time_ago %>
  </div>
  <div class="field">
    <%= f.label :time_ago_scale %><br>
    <%= f.text_field :time_ago_scale %>
  </div>
  <div class="field">
    <%= f.label :visit_id %><br>
    <%= f.text_field :visit_id %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_field :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
