<h3 class="red h3">Complication</h3>
<h5 class="purple h5" id="complication-title"></h5>
<div class="form-group">
  <%= f.fields_for :complications, @nested_scope.complications.build do |fff| %>
    <%= render 'visits/visit_presence_checker', f: fff %>
    <%= fff.hidden_field :topic_id, class: "complication-response", value: "" %>
    <%= render 'layouts/file_attachment_row', f: fff %>
    <div class="row">
      <div class="col-sm-12">
        <%= fff.label "When did it start?", class: "form-control-label" %>
        <br />
      </div>
      <%= render 'layouts/relative_absolute_date', fff: fff, column_title: :absolute_start_date %>
    </div>
    <%= fff.label "Anything further to note?", class: "form-control-label" %><br />
    <%= fff.text_area :note, class: "form-control" %>
    <br />
    <% unless @form_action == "Update" %>
      <%= fff.submit "Add Complication", class: "btn btn-success" %>
    <% end %>
  <% end %>
</div>
<div id="form-hook"></div>
