<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Family Members</h3>
  </div>
  <% if family_members.length != 0 %>
    <table class="table table-striped table-hover">
      <tr>
        <% if @display_location == "Patient Show" %>
          <th>Visit</th>
        <% end %>
        <th>Name</th>
        <th>Relationship</th>
        <th>Note</th>
        <th>Actions</th>
      </tr>
      <% family_members.each do |fm| %>
        <tr style="cursor:pointer;" onclick=<%= "location.href='/family_members/" + "#{fm.id}'" %>>
          <% if @display_location == "Patient Show" %>
            <td><% link_to "Visit #{fm.visit_id}", visit_path(fm.visit_id) %></td>
          <% end %>
          <td><%= "#{fm.future_patient_data_hash['first_name']} #{fm.future_patient_data_hash['last_name']}"  %></td>
          <td><%= Topic.find(fm.topic_id).name %></td>
          <td><%= fm.future_patient_data_hash['note'] %></td>
          <td>
            <%= render 'family_members/link_buttons', fm: fm %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="panel-body">
      <% if @display_location == "Patient Show" %>
        Patient has not noted any family members
      <% else %>
        Patient has not discussed any family members.
      <% end %>
    </div>
  <% end %>
</div>
