<div class="card">
  <div class="card-header">
    Hospitalizations
  </div>
  <% if hospitalizations.length != 0 %>
    <table class="table table-striped table-responsive">
      <tr>
        <% if @display_location == "patient_show" %>
          <th>Visit</th>
        <% end %>
        <th>Date</th>
        <th>Length of Stay</th>
        <th>Type</th>
        <th>Location</th>
        <th>Description</th>
      </tr>
      <% hospitalizations.each do |h| %>
        <tr>
          <% if @display_location == "Patient Show" %>
            <td><% link_to "Visit #{h.visit_id}", visit_path(h.visit_id) %></td>
          <% end %>
          <td><%= h.admission_date ? h.admission_date.strftime("%b %Y") : "not noted" %></td>
          <td><%= print_if_present(h.length_of_stay) %></td>
          <td><%= print_if_present(h.hosp_type) %></td>
          <td><%= print_if_present(h.location) %></td>
          <td><%= print_if_present(h.description) %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="card-block">
      Patient has not reported any hospitalizations.
    </div>
  <% end %>
</div>
