<div class="card">
  <div class="card-header">
    Procedures
  </div>
  <% if procedures.length != 0 %>
    <table class="table table-striped table-responsive">
      <tr>
        <th>Type</th>
        <th>Date</th>
        <th>Name</th>
        <th>Note</th>
        <th>Edit</th>
      </tr>
      <% procedures.each do |p| %>
        <tr>
          <th><%= link_to "#{p.topic_id}", topic_path(p.topic_id) %></th>
          <td><%= display_date(p) %></td>
          <td><%= find_trail(Topic.where(id: p.topic_id)[0]) %></td>
          <td><%= print_if_present(p.note) %></td>
          <td>
            <%= render 'tests/link_buttons', t: p %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="card-block">
      Patient has not reported any procedures.
    </div>
  <% end %>
</div>
