<div class="row">
  <div class="col-sm">
    <div class="card">
      <div class="card-header">
        Recent Tests
      </div>
      <% if tests.length != 0 %>
      <table class="table table-striped table-responsive" display="table">
        <tr>
          <!-- <th>Type</th> -->
          <th>Date</th>
          <th>Name</th>
          <th>Result</th>
          <th>Actions</th>
        </tr>
        <% tests.each do |t| %>
        <tr>
          <!-- <th><%= link_to "#{t.topic_id}", topic_path(t.topic_id) %></th> -->
          <td><%= display_test_date(t) %></td>
          <td><%= find_trail(t.topic_id) %></td>
          <td><%= print_if_present(t.result) %></td>
          <td><%= render 'tests/link_buttons', t: t %></td>
        </tr>
        <% end %>
      </table>
      <% else %>
      <div class="card-block">
        Patient has not reported any testing.
      </div>
      <% end %>
    </div>
  </div>
</div>
