<% discussion_topic.leaves.select { |leaf| leaf.topic_type == 'diagnosis' }.each do |l| %>
  <tr class="main_row">
    <%= f.fields_for :diagnoses, @nested_scope.diagnoses.build do |ff| %>
      <%= ff.hidden_field :patient_id, value: @patient.id, name: "visit[diagnoses_attributes][#{l.id}][patient_id]", id: "visit_diagnoses_attributes_#{l.id}_patient_id" %>
      <%= ff.hidden_field :visit_id, value: @visit.id, name: "visit[diagnoses_attributes][#{l.id}][visit_id]", id: "visit_diagnoses_attributes_#{l.id}_visit_id" %>
      <%= ff.hidden_field :topic_id, value: l.id, name: "visit[diagnoses_attributes][#{l.id}][topic_id]", id: "visit_diagnoses_attributes_#{l.id}_topic_id", class: "topic_id" %>
      <input type="hidden" class="descriptors" id="topic_<%= l.id %>_descriptors" value="<%= l.descriptors.join(',') unless l.descriptors.blank? %>">
      <td>
        <%= find_pretty_trail(l.id) %>
      </td>
      <div class="form-check">
        <td>
          <%= ff.radio_button :present, true, name: "visit[diagnoses_attributes][#{l.id}][present]", id: "visit_diagnoses_attributes_#{l.id}_present_true", class: "pres_abs" %>
        </td>
        <td>
          <%= ff.radio_button :present, false, name: "visit[diagnoses_attributes][#{l.id}][present]", id: "visit_diagnoses_attributes_#{l.id}_present_false", class: "pres_abs" %>
        </td>
      </div>
      <td>
        <%= render 'topics/row_form_components/file_attachment_button', ff: ff, topic: l.id, parameterized_plural: 'diagnoses' %>
      </td>
    </tr>
    <tr class="row_form" id="row_<%= l.id %>" style="display:none">
      <td colspan='4'>
        <div class='form-inline'>
          <div class='input-group'>
            <%= render 'topics/row_form_components/time_ago_fields', parameterized_plural: 'diagnoses', topic: l.id %>
            <%= render 'topics/row_form_components/duration_fields', parameterized_plural: 'diagnoses', topic: l.id %>
            <%= render 'topics/row_form_components/frequency_fields', parameterized_plural: 'diagnoses', topic: l.id %>
          </div>
        </div>
        <div class='form-inline'>
          <%= render 'topics/row_form_components/note_field', parameterized_plural: 'diagnoses', topic: l.id %>
        </div>
      </td>
    </tr>
    <script>
    // hide or display row form based on 'present' or 'absent' checked
    $('input[name="visit[diagnoses_attributes][<%= l.id %>][present]"]').change(function() {
      $('tr.row_form#row_<%= l.id %>').toggle($('input#visit_diagnoses_attributes_<%= l.id %>_present_true')[0].checked)
      if ($('input#visit_diagnoses_attributes_<%= l.id %>_present_true')[0].checked) {
        $('tr.row_form#row_<%= l.id %>').show()
      }
      else if ($('input#visit_diagnoses_attributes_<%= l.id %>_present_false')[0].checked) {
        $('tr.row_form#row_<%= l.id %>').hide()
      }
      else {
        $('tr.row_form#row_<%= l.id %>').hide()
      }
    })

    // change handler for attachment upload camera button
    $('input#visit_diagnoses_attributes_<%= l.id %>_attachment').on('change', function() {
      file_name = $(this).val().split('\\').pop().split('/').pop()
      console.log($(this));
      console.log(file_name);
      $(this).parent('td').find('label').append(file_name)
    })
    </script>
  <% end %>
<% end %>
