<div class="card">
  <div class="card-header">
    Diagnoses
  </div>
  <% if diagnoses.length != 0 %>
    <table class="table table-striped table-responsive">
      <tr>
        <!-- <th>Type</th> -->
        <th>Date</th>
        <% if @display_location == "patient_show" %>
          <th>Visit</th>
        <% end %>
        <th>Description</th>
        <th>Note</th>
        <th>Actions</th>
      </tr>
      <% diagnoses.each do |d| %>
        <tr>
          <!-- <th><%= link_to "#{d.topic_id}", topic_path(d.topic_id) %></th> -->
          <td><%= d.created_at.strftime("%b %Y") %></td>
          <% if @display_location == "patient_show" %>
            <td><% link_to "Visit #{d.visit_id}", visit_path(d.visit_id) %></td>
          <% end %>
          <td><%= find_trail(Topic.find(d.topic_id)) %></td>
          <td><%= print_if_present(d.note) %></td>
          <% if d.class == Diagnosis %>
            <td><%= render 'diagnoses/link_buttons', d: d %></td>
          <% elsif d.class == Complication %>
            <td><%= render 'complications/link_buttons', c: d %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="card-block">
      No diagnoses noted yet.
    </div>
  <% end %>
</div>
