<div>
  <% if @previous_visit %>
    <%= render 'visits/summary_modal_button', visit: @previous_visit, title: "Prior Visit Summary", button_descriptor: "secondary" %>
  <% end %>
  <%= render 'visits/summary_modal_button', visit: @visit, title: "Visit Summary", button_descriptor: "info" %>
  <%= render 'patients/summary_modal_button', visit: @visit %>
</div>
<hr />
<%= form_for @visit, class: "visit_form" do |f| %>
  <div class="row">
    <div class="col-sm">
      <h4>Uploaded Attachments</h4>
      <% @gallery.attachments.each do |a| %>
        <%= image_tag(a.thumb.url) %>
      <% end %>
      <% if @gallery.attachments.length != 0 %>
        <%= link_to "Manage Attachments ›", gallery_path(@gallery.id), class: "btn btn-secondary" %>
      <% else %>
        <%= f.fields_for :gallery do |ff| %>
          <%= ff.label :attachments, "Add Photos and Documents", class: "control-label" %>
          <%= ff.file_field :attachments, multiple: true, class: "form-control-file" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <hr />
  <%= render 'topics/nested_list_form_body', f: f, visit: @visit %>
<% end %>
