<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="myModalLabel">Add <%= relationship %></h4>
    </div>
    <div class="modal-body">
      <%= form_for @family_member, action: @action do |f| %>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-11 col-md-4">
              <%= f.hidden_field :visit_id, value: @visit.id %>
              <%= f.hidden_field :relationship, value: relationship %>
            </div>
            <div class="col-xs-11 col-md-4">
              <%= f.label "Name:", class: "control-label" %><br />
              <%= f.text_field :name, class: "form-control" %>
            </div>
            <div class="col-xs-11 col-md-4">
              <%= f.label "Age:", class: "control-label" %><br />
              <%= f.number_field :age, class: "form-control", min: 1, step: 1 %>
            </div>
          </div>
          <br />
          <%= f.label "Check if deceased:", class: "control-label" %><br />
          <%= f.check_box :living, class: "form-control btn btn-default", onclick: "$('#deceased').toggle();" %>
          <br />
          <div id="deceased" style="display: none">
            <%= f.label "What was their cause of death?", class: "control-label" %><br />
            <%= f.text_field :cause_of_death, class: "form-control" %>
          </div>
          <br />
          <%= f.label "Anything else to add?", class: "control-label" %><br />
          <%= f.text_area :note, class: "form-control" %>
          <br />
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <%= f.submit "Add" %>
    </div>
    <% end %>
  </div>
</div>
