<div class="form-group col-xs-8 control-label">
  <%= f.fields_for :family_member do |ff| %>
    <div class="col-xs-7">
      <%= ff.label "What is your relationship to the person?", class: "control-label" %><br />
      <%= ff.select :relationship, Rails.application.config.relationship_types, autofocus: true, class: "form-control", prompt: "Select One" %><br />
    </div>

    <div class="col-xs-7">
      <%= ff.label "What is your family member's name?", class: "control-label" %><br />
      <%= ff.text_field :name, autofocus: true, class: "form-control" %><br />
    </div>

    <div class="col-xs-7">
      <%= ff.label "How old is your family member?", class: "control-label" %><br />
      <%= ff.number_field :age, autofocus: true, class: "form-control" %><br />
    </div>


    <div class="col-xs-7">
      <%= ff.label "Is the family member still living?", class: "control-label" %><br />
      <%= ff.check_box :living, autofocus: true, class: "form-control" %><br />
    </div>

    <div class="col-xs-7">
      <%= ff.label "What was their cause of death?", class: "control-label" %><br />
      <%= ff.text_field :cause_of_death, autofocus: true, class: "form-control" %><br />
    </div>

    <div class="col-xs-7">
      <%= ff.label "Anything else to add?", class: "control-label" %><br />
      <%= ff.text_area :note, autofocus: true, class: "form-control" %><br />
    </div>
  <% end %>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
