<div class="form-group col-xs-6 control-label">
  <%= f.fields_for :family_member do |ff| %>
    <%= ff.label "What is your relationship to the person?", class: "col-xs-6 control-label" %><br />
    <%= ff.select :relationship, Rails.application.config.relationship_types, autofocus: true, class: "form-control", prompt: "Select One" %><br />

    <%= ff.label "What is your family member's name?", class: "col-xs-6 control-label" %><br />
    <%= ff.text_field :name, autofocus: true, class: "form-control" %><br />

    <%= ff.label "How old is your family member?", class: "col-xs-6 control-label" %><br />
    <%= ff.number_field :age, autofocus: true, class: "form-control" %><br />

    <%= ff.label "Is the family member still living?", class: "col-xs-6 control-label" %><br />
    <%= ff.check_box :living, autofocus: true, class: "form-control" %><br />

    <%= ff.label "What was their cause of death?", class: "col-xs-6 control-label" %><br />
    <%= ff.text_field :cause_of_death, autofocus: true, class: "form-control" %><br />

    <%= ff.label "Anything else to add?", class: "col-xs-6 control-label" %><br />
    <%= ff.text_area :note, autofocus: true, class: "form-control" %><br />
  <% end %>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
