<div class="card card-block">
  <h4 class="card-title"><%= y %></h4>
  <p class="card-text">
    <% if x.nil? %>
      <% @action = "create" %>
      No <%= y.downcase %> noted. Add one?

    <% else %>
      <% @action = "update" %>
      Name: <%= x.name ? x.name : "Name not noted" %>
      <br />
      <% if x.living %>
        Age: <%= x.age ? x.age : "Not noted" %> (living)
        <br />
      <% else %>
        Age: <%= x.age ? x.age : "Not noted" %> (deceased)
        <br />
        Cause of death: <%= x.cause_of_death ? x.cause_of_death : "Not noted" %>
        <br />
      <% end %>
      Notes: <%= x.note ? x.note : "none" %>
      <br />
      <hr />
    <% end %>
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#<%= z -%>Modal" style="display: block; margin: 0 auto;" id=<%= y.downcase %>><%= "#{@action.capitalize} #{y}" %></button>
  </p>
</div>
