<%= f.fields_for :patient do |ff| %>
  <%= ff.fields_for :hospitalizations do |fff| %>
    <%= render 'visits/visit_presence_checker', f: fff %>
    <div class="form-group">
      <div class="row">
        <div class="col-xs-12 col-md-5">
          <%= fff.label "For how many days?", class: "control-label" %><br />
          <%= fff.number_field :length_of_stay, autofocus: true, class: "form-control", name: "visit[hospitalizations_attributes][#{@hosp_counter}][length_of_stay]" %>
        </div>
        <div class="col-xs-12 col-md-7">
          <%= fff.label "And when were you admitted?", class: "control-label" %><br />
          <%= fff.date_field :admission_date, class: "form-control", name:  "visit[hospitalizations_attributes][#{@hosp_counter}][admission_date]" %>
        </div>
      </div>
      <br />
      <%= fff.label "What type of hospitalization was it?", class: "control-label" %><br />
      <%= fff.text_field :hosp_type, class: "form-control", placeholder: "ex: Emergency, Surgical", name:  "visit[hospitalizations_attributes][#{@hosp_counter}][hosp_type]" %>
      <br />
      <%= fff.label "Where were you hospitalized?", class: "control-label" %><br />
      <%= fff.text_field :location, class: "form-control", placeholder: "ex: San Francisco General Hospital", name:  "visit[hospitalizations_attributes][#{@hosp_counter}][location]" %>
      <br />
      <%= fff.label "Anything else to add?", class: "control-label" %><br />
      <%= fff.text_area :description, class: "form-control", name:  "visit[hospitalizations_attributes][#{@hosp_counter}][description]" %>
      <br />
      <!-- <button class="show_button btn btn-primary center-block" type="button" onclick="renderHospitalization('#add-another')">
        Add another hospitalization?
      </button> -->
    </div>
  <% end %>
<% end %>

<!-- <div id="add-another"></div> -->
<div id="hosp_counter"></div>
