<%= f.fields_for :hospitalizations do |fff| %>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-12 col-md-5">
        <%= fff.hidden_field :patient_id, value: @patient.id %>
        <%= fff.label "For how many days?", class: "control-label" %><br />
        <%= fff.number_field :length_of_stay, autofocus: true, class: "form-control" %>
      </div>
      <div class="col-xs-12 col-md-7">
        <%= fff.label "And when were you admitted?", class: "control-label" %><br />
        <%= fff.date_field :admission_date, class: "form-control" %>
      </div>
    </div>
    <br />
    <%= fff.label "What type of hospitalization was it?", class: "control-label" %><br />
    <%= fff.text_field :hosp_type, class: "form-control", placeholder: "ex: Emergency, Surgical" %>
    <br />
    <%= fff.label "Where were you hospitalized?", class: "control-label" %><br />
    <%= fff.text_field :location, class: "form-control", placeholder: "ex: San Francisco General Hospital" %>
    <br />
    <%= fff.label "Anything else to add?", class: "control-label" %><br />
    <%= fff.text_area :description, class: "form-control" %>
    <br />
    <% if @form_action == "Update" %>
      <%= fff.submit "Add Hospitalization", class: "btn btn-success" %>
    <% end %>
    <!-- <button class="show_button btn btn-primary center-block" type="button" onclick="renderHospitalization('#add-another')">
      Add another hospitalization?
    </button> -->
  </div>
<% end %>

<!-- <div id="add-another"></div> -->
