<div class="form-group col-xs-8 control-label">
  <%= f.label "F Test Box" %>
  <%= f.number_field :z_score %>
  <%= f.label "When was your recent hospitalization?", class: "col-xs-6 control-label" %><br />
  <%= f.date_field :admission_date, autofocus: true, class: "form-control" %><br />

  <%= f.label "How many days were you in the hospital?", class: "col-xs-6 control-label" %><br />
  <%= f.number_field :length_of_stay, autofocus: true, class: "form-control" %><br />

  <%= f.label "What type of hospitalization was it? (e.g. Emergency, Surgery, Psychiatric)", class: "col-xs-6 control-label" %><br />
  <%= f.text_field :type, autofocus: true, class: "form-control" %><br />

  <%= f.label "Where were you hospitalized?", class: "col-xs-6 control-label" %><br />
  <%= f.text_field :location, autofocus: true, class: "form-control" %><br />

  <%= f.label "Anything else to add?", class: "col-xs-6 control-label" %><br />
  <%= f.text_area :description, autofocus: true, class: "form-control" %><br />
</div>
<br />
