
<%= f.fields_for :hospitalizations do |ff| %>

<div class="row">
  <div class="form-group">
    <div class="col-xs-11 col-md-4 col-centered">
      <%= ff.label "When was your recent hospitalization?", class: "control-label" %><br />
      <%= ff.date_field :admission_date, autofocus: true, class: "form-control" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <div class="col-xs-11 col-md-4 col-centered">
      <%= ff.label "How many days were you in the hospital?", class: "control-label" %><br />
      <%= ff.number_field :length_of_stay, autofocus: true, class: "form-control" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <div class="col-xs-11 col-md-4 col-centered">
      <%= ff.label "What type of hospitalization was it?", class: "control-label" %><br />
      <%= ff.text_field :hosp_type, autofocus: true, class: "form-control" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <div class="col-xs-11 col-md-4 col-centered">
      <%= ff.label "Where were you hospitalized?", class: "control-label" %><br />
      <%= ff.text_field :location, autofocus: true, class: "form-control" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <div class="col-xs-11 col-md-4 col-centered">
      <%= ff.label "Anything else to add?", class: "control-label" %><br />
      <%= ff.text_area :description, autofocus: true, class: "form-control" %>
    </div>
  </div>
</div>

<% end %>
