<h3 class="red h3">Medication</h3>
<%= f.fields_for :meds do |fff| %>
  <%= render 'visits/visit_presence_checker', f: fff %>
  <div class="form-group">
    <%= fff.hidden_field :patient_id, value: @patient.id %>
    <%= fff.hidden_field :topic_id, class: "med-response", value: "" %>
    <br />
    <div class="row flex-items-xs-center">
      <div class="col-xs-12" style="min-height:32px;">
        <%= fff.label :medication_format, "Enter formatted medications as plain text:", class: "control-label" %>
        <%= fff.text_area :medication_format, class: "form-control form-control-lg", placeholder: "EPIC users: '.meds'" %>
      </div>
    </div>
    <br />
    <% if @form_action == "Update" %>
      <%= fff.submit "Add Hospitalization", class: "btn btn-success" %>
    <% end %>
  <% end %>
</div>
<div id="form-hook"></div>
