<%= f.fields_for :symptoms do |ff| %>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
          <h4 class="panel-title">
            Cardiac Symptoms <span class="caret"></span>
          </h4>
        </a>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <%= render "visits/systemic_categories/cardiac", f: ff %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
          <h4 class="panel-title">
            Dural Symptoms <span class="caret"></span>
          </h4>
        </a>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <%= render "visits/systemic_categories/dural", f: ff %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
          <h4 class="panel-title">
            Aural Symptoms <span class="caret"></span>
          </h4>
        </a>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <%= render "visits/systemic_categories/aural", f: ff %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
          <h4 class="panel-title">
            Ocular Symptoms <span class="caret"></span>
          </h4>
        </a>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <%= render "visits/systemic_categories/ocular", f: ff %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
          <h4 class="panel-title">
            Pulmonary Symptoms <span class="caret"></span>
          </h4>
        </a>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <%= render "visits/systemic_categories/pulmonary", f: ff %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
          <h4 class="panel-title">
            Integumentary Symptoms <span class="caret"></span>
          </h4>
        </a>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
        <%= render "visits/systemic_categories/integumentary", f: ff %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7">
          <h4 class="panel-title">
            Cranial Symptoms <span class="caret"></span>
          </h4>
        </a>
      </div>
      <div id="collapse7" class="panel-collapse collapse">
        <%= render "visits/systemic_categories/cranial", f: ff %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8">
          <h4 class="panel-title">
            Foot and Leg Symptoms <span class="caret"></span>
          </h4>
        </a>
      </div>
      <div id="collapse8" class="panel-collapse collapse">
        <%= render "visits/systemic_categories/feet", f: ff %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9">
          <h4 class="panel-title">
            General Skeletal Symptoms <span class="caret"></span>
          </h4>
        </a>
      </div>
      <div id="collapse9" class="panel-collapse collapse">
        <%= render "visits/systemic_categories/general_skeletal", f: ff %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10">
          <h4 class="panel-title">
            Hand and Arm Symptoms <span class="caret"></span>
          </h4>
        </a>
      </div>
      <div id="collapse10" class="panel-collapse collapse">
        <%= render "visits/systemic_categories/hand", f: ff %>
      </div>
    </div>
  </div>

  <%= f.submit "Update Visit", class: "btn btn-success" %>
<% end %>
