<%= f.label "What brings you in to the clinic?", class: "form-check-label" %>
  <br />
  <label class="custom-control custom-checkbox" id="cardiology-reason" value="because of a dissection" for="visit_primary_reason">
    <%= f.check_box :primary_reason, value: "for cardiology", class: "custom-control-input" %>
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description"><%= f.label :primary_reason, "Dissection", value: "because of a dissection" %></span>
  </label>
  <br />
  <label class="custom-control custom-checkbox" id="genetics-reason" value="due to family history">
    <%= f.check_box :primary_reason, value: "due to family history", class: "custom-control-input" %>
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description"><%= f.label :primary_reason, "Family History", value: "due to family history" %></span>
  </label>
  <br />
  <label class="custom-control custom-checkbox" id="hospital-reason" value="because of a hospitalization">
    <%= f.check_box :primary_reason, value: "because of a hospitalization", class: "custom-control-input" %>
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description"><%= f.label :primary_reason, "Recent Hospitalization", value: "because of a hospitalization" %></span>
  </label>
  <br />
  <label class="custom-control custom-checkbox" id="test-reason" value="for recent testing">
    <%= f.check_box :primary_reason, value: "for recent testing", class: "custom-control-input" %>
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description"><%= f.label :primary_reason, "Testing", value: "for recent testing" %></span>
  </label>
  <br />
  <label class="custom-control custom-checkbox" id="symptom-reason" value="because of related symptoms">
    <%= f.check_box :primary_reason, value: "because of related symptoms", class: "custom-control-input" %>
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description"><%= f.label :primary_reason, "Related Symptoms", value: "because of related symptoms" %></span>
  </label>
  <br />

<script>
  $('#dissection-reason').click(function renderDissection() {
    $('div#add-another:last').html("<hr /><%= j render 'dissection_form', f: f %>");
    $('#start-button').focus();
  });
  $('#hospital-reason').click(function renderHospitalization() {
    $('div#add-another:last').html("<hr /><%= j render 'hospitalization_form', f: f %>");
    $('#start-button').focus();
  });
  $('#family-reason').click(function renderFamilyMember() {
    $('div#add-another:last').html("<hr /><%= j render 'family_member_form', f: f %>");
    $('#start-button').focus();
  });
  $('#test-reason').click(function renderTest() {
    $('div#add-another:last').html("<hr /><%= j render 'test', f: f %>");
    $('#start-button').focus();
  });
  $('#symptom-reason').click(function renderSymptomsRadioButtons() {
    $('div#add-another:last').html("<hr /><%= j render 'symptoms_category_buttons',  f: f %>");
    $('#start-button').focus();

  });
</script>
