<div class="row">
  <div class="form-group">
    <div class="form-check">
      <%= f.label "What brings you into the clinic?", class: "form-check-label" %><br />
      <dl>
        <div class="container">
          <label class="form-check-label radio-inline" value="for cardiology" id="cardiovascular-reason">
            <dt class="col-xs-1">
              <%= f.radio_button :primary_reason, "Cardiovascular Reasons", value: "for cardiology", class: "form-check-input" %>
            </dt>
            <dd class="col-xs-11", value="for cardiology">
              Cardiovascular Reasons
            </dd>
          </label>
        </div>
        <div class="container">
          <label class="form-check-label radio-inline" value="due to family history" id="family-reason">
            <dt class="col-xs-1">
              <%= f.radio_button :primary_reason, "Family History", value: "due to family history", class: "form-check-input" %>
            </dt>
            <dd class="col-xs-11", value="due to family history">
              Family History
            </dd>
          </label>
        </div>
        <div class="container">
          <label class="form-check-label radio-inline" value="for medication management" id="medication-reason">
            <dt class="col-xs-1">
              <%= f.radio_button :primary_reason, "Medication Management", value: "for medication management", class: "form-check-input" %>
            </dt>
            <dd class="col-xs-11", value="for medication management">
              Medication Management
            </dd>
          </label>
        </div>
        <div class="container">
          <label class="form-check-label radio-inline" value="for genetic testing" id="genetics-reason">
            <dt class="col-xs-1">
              <%= f.radio_button :primary_reason, "Genetic Testing", value: "for genetic testing", class: "form-check-input" %>
            </dt>
            <dd class="col-xs-11", value="for genetic testing">
              Genetic Testing
            </dd>
          </label>
        </div>
      </dl>
    </div>
  </div>
</div>


  <br />
  <!-- <%= f.radio_button :primary_reason, value: "because of related symptoms", class: "form-check-input" %>
  <%= f.label :primary_reason, "Related Symptoms", value: "because of related symptoms", class: "form-check-label" %>
  <br /> -->

<script>
  $('#cardiovascular-reason').click(function renderCardiovascular() {
    $('div#add-another:last').html("<hr id='visit_top'/><%= j render 'cardiovascular_nested_list', f: f %>");
    $('html, body').animate({scrollTop:$('#visit_top').position().top - 80}, 'slow');
  });
  $('#genetics-reason').click(function renderGenetics() {
    $('div#add-another:last').html("<hr id='visit_top'/><%= j render 'genetics_nested_list', f: f %>");
    $('html, body').animate({scrollTop:$('#visit_top').position().top - 80}, 'slow');
  });
  $('#medication-reason').click(function renderMedication() {
    $('div#add-another:last').html("<hr id='visit_top'/><%= j render 'medication_nested_list', f: f %>");
    $('html, body').animate({scrollTop:$('#visit_top').position().top - 80}, 'slow');
  });
  $('#family-member-reason').click(function renderFamilyMember() {
    $('div#add-another:last').html("<hr id='visit_top'/><%= j render 'family_member_form', f: f %>");
    $('html, body').animate({scrollTop:$('#visit_top').position().top - 80}, 'slow');
  });
</script>
