<%= f.label "What brings you in to the clinic?", class: "form-check-label" %>
  <br />
  <div class="form-check">
    <%= f.label :primary_reason, "Cardiovascular Reasons", value: "for cardiology", class: "form-check-label", id: "cardiovascular-reason" do %>
      <%= f.check_box :primary_reason, value: "for cardiology", id: "cardiovascular-reason", class: "form-check-input" %> Cardiovascular Reasons
    <% end %>
  </div>
  <div class="form-check">
    <%= f.label :primary_reason, "Family History", value: "due to family history", class: "form-check-label", id: "family-reason" do %>
      <%= f.check_box :primary_reason, value: "due to family history", class: "form-check-input", id: "family-reason" %> Family History
    <% end %>
  </div>
  <div class="form-check">
    <%= f.label :primary_reason, "Medication Management", value: "for medication management", class: "form-check-label", id: "medication-reason" do %>
      <%= f.check_box :primary_reason, value: "for medication management", id: "medication-reason", class: "form-check-input" %> Medication Management
    <% end %>
  </div>
  <div class="form-check">
    <%= f.label :primary_reason, "Genetic Testing", value: "for genetic testing", class: "form-check-label", id: "genetics-reason" do %>
      <%= f.check_box :primary_reason, value: "for genetic testing", id: "genetics-reason", class: "form-check-input" %> Genetic Testing
    <% end %>
  </div>


  <br />
  <!-- <%= f.check_box :primary_reason, value: "because of related symptoms", class: "form-check-input" %>
  <%= f.label :primary_reason, "Related Symptoms", value: "because of related symptoms", class: "form-check-label" %>
  <br /> -->

<script>
  $('#cardiovascular-reason').click(function renderCardiovascular() {
    $('div#add-another:last').html("<hr /><%= j render 'cardiovascular_nested_list', f: f %>");
    $('#start-button').focus();
  });
  $('#genetics-reason').click(function renderGenetics() {
    $('div#add-another:last').html("<hr /><%= j render 'genetics_nested_list', f: f %>");
    $('#start-button').focus();
  });
  $('#medication-reason').click(function renderMedication() {
    $('div#add-another:last').html("<hr /><%= j render 'medication_nested_list', f: f %>");
    $('#start-button').focus();
  })
  $('#family-member-reason').click(function renderFamilyMember() {
    $('div#add-another:last').html("<hr /><%= j render 'family_member_form', f: f %>");
    $('#start-button').focus();
  });
</script>
