<br />
<div class="row">
  <div class="col-sm">
    <%= render 'vitals/show_table', vitals: vitals %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm">
    <%= render 'medications/show_table', medications: medications %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm">
    <%= render 'visits/show_tables/heart_imagery', imagery: imagery %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm">
    <%= render 'diagnoses/show_table', diagnoses: diagnoses %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm">
    <%= render 'family_members/show_table', family_members: family_members %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm">
    <%= render 'procedures/show_table', procedures: procedures %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm">
    <%= render 'hospitalizations/show_table', hospitalizations: hospitalizations %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm">
    <%= render 'tests/show_table', tests: tests %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm">
    <%= render 'symptoms/show_table', symptoms: symptoms %>
  </div>
</div>
