<br />
<div class="row">
  <div class="col-sm">
    <%= render 'visits/show_tables/vitals', vitals: vitals %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm">
    <%= render 'visits/show_tables/medications', medications: medications %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm">
    <%= render 'visits/show_tables/heart_imagery', imagery: imagery %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm">
    <%= render 'visits/show_tables/diagnoses', diagnoses: diagnoses %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm">
    <%= render 'visits/show_tables/family_members', family_members: family_members %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm">
    <%= render 'visits/show_tables/procedures', procedures: procedures %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm">
    <%= render 'visits/show_tables/hospitalizations', hospitalizations: hospitalizations %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm">
    <%= render 'visits/show_tables/tests', tests: tests %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm">
    <%= render 'visits/show_tables/symptoms', symptoms: symptoms %>
  </div>
</div>
