<tr>
  <div class="form-group">
    <td>
      <%= ff.hidden_field :seeded_symptom_id, value: s.id, name: "visit[symptoms_attributes][#{s.id}][seeded_symptom_id]" %>
    </td>
    <td>
      <%= s.name %>
    </td>
    <td>
      <div class="field">
        <%= ff.label :presence, "True", class: "radio-inline" %>
        <%= ff.radio_button :presence, true, :value => true, name: "optradio visit[symptoms_attributes][#{s.id}][presence]" %>
        <%= ff.label :presence, "False", class: "radio-inline" %>
        <%= ff.radio_button :presence, false, :value => false, name: "optradio visit[symptoms_attributes][#{s.id}][presence]" %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= ff.number_field :measurement, autofocus: true, class: "form-control", name: "visit[symptoms_attributes][#{s.id}][measurement]" %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= ff.date_field :start_date, autofocus: true, class: "form-control", name: "visit[symptoms_attributes][#{s.id}][start_date]" %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= ff.text_field :frequency, autofocus: true, class: "form-control", name: "visit[symptoms_attributes][#{s.id}][frequency]" %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= ff.text_area :note, autofocus: true, class: "form-control", name: "visit[symptoms_attributes][#{s.id}][note]" %>
      </div>
    </td>
  </div>
</tr>
