<tr>
  <div class="form-group">
    <td>
      <%= ff.hidden_field :seeded_symptom_id, value: s.id, name: "visit[symptoms_attributes][#{s.id}][seeded_symptom_id]" %>
    </td>
    <td>
      <%= s.name %>
    </td>
    <td>
      <div class="form-check">
        <label class="form-check-label radio-inline", value="true" >
          <dt><%= f.radio_button :presence, true, :value => true, name: "visit[symptoms_attributes][#{s.id}][presence]" %></dt>
          <dd value="true">True</dd>
        </label>
        <br />
        <label class="form-check-label radio-inline", value="false" >
          <dt><%= f.radio_button :presence, false, :value => false, name: "visit[symptoms_attributes][#{s.id}][presence]" %></dt>
          <dd value="false">False</dd>
        </label>
      </div>
    </td>
    <td>
      <div class="field">
        <%= ff.number_field :measurement, class: "form-control", name: "visit[symptoms_attributes][#{s.id}][measurement]" %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= ff.date_field :start_date, class: "form-control", name: "visit[symptoms_attributes][#{s.id}][start_date]" %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= ff.text_field :frequency, class: "form-control", name: "visit[symptoms_attributes][#{s.id}][frequency]" %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= ff.text_area :note, class: "form-control", name: "visit[symptoms_attributes][#{s.id}][note]" %>
      </div>
    </td>
  </div>
</tr>
