<h3 class="red h3">Test</h3>
<h5 class="purple h5" id="test-title"></h5>
<%= f.fields_for :tests do |fff| %>
  <%= render 'visits/visit_presence_checker', f: fff %>
  <div class="form-group">
    <div class="row flex-items-xs-center">
        <%= fff.hidden_field :patient_id, value: @patient.id %>
        <%= fff.hidden_field :visit_id, value: @visit.id %>
        <div class="form-inline">
          <div class="col-xs-12">
            <%= fff.label :topic_id, "Test Type:" , class: "control-label" %>
            <div class="form-group">
              <%= fff.number_field :topic_id, class: "test-response form-control form-control-lg disabled", value: "", aria: { describedby: "testIDExplanation "} %>
              <p id="testIDExplanation" class="purple text-muted">
                Identifies specific type of test, e.g. "MRI for suprarenal abdominal aortic complication"
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row flex-items-xs-center">
      <div class="col-xs-12">
        <%= fff.label "And when was the test?", class: "control-label" %><br />
        <div class="col-xs-5">
          <div class="form-inline">
            <div class="form-group" aria-describedby="relativeTime">
              <%= fff.number_field :time_ago, class: "form-control form-control-lg", step: 1, in: 1..99 %>
              <%= fff.select :time_ago_scale, TIME_SCALES, class: "form-control form-control-lg" %>
            </div>
            <p id="relativeTime" class="purple form-text text-muted">
              relative date, e.g. "5 months ago"
            </p>
          </div>
        </div>
        <div class="col-xs-2" style="min-height:32px;">
          <%= render 'layouts/col_2_OR_buttons' %>
        </div>
        <div class="col-xs-5">
          <%= fff.date_field :test_date, class: "form-control form-control-lg", aria: { describedby: "absoluteTime" } %>
          <p id="absoluteTime" class="purple form-text text-muted">
            absolute date, e.g. "01/07/2016"
          </p>
        </div>
      </div>
    </div>
  </div>
  <%= fff.label "What were the results of the test?", class: "control-label" %><br />
  <%= fff.text_area :result, class: "form-control form-control-lg" %>
  <br />
  <% if @form_action == "Update" %>
    <%= fff.submit "Add Test", class: "btn btn-success" %>
  <% end %>
<% end %>
<div id="add-another"></div>
