<%= f.fields_for :tests do |fff| %>
  <%= render 'visits/visit_presence_checker', f: fff %>
  <div class="form-group">
    <div class="row">
      <div class="col-xs col-md-7">
        <%= fff.hidden_field :patient_id, value: @patient.id %>
        <%= fff.label "What type of test was it?", class: "control-label" %><br />
        <%= fff.text_field :test_type, autofocus: true, class: "form-control", placeholder: "ex: Echocardiogram, Blood test" %>
      </div>
      <div class="col-xs col-md-5">
        <%= fff.label "And when was the test?", class: "control-label" %><br />
        <%= fff.date_field :test_date, class: "form-control" %>
      </div>
    </div>
    <br />
    <%= fff.label "What were the results of the test?", class: "control-label" %><br />
    <%= fff.text_area :result, class: "form-control" %>
    <br />

    <br />
  </div>
<% end %>
