<div>
  <%= link_to "View Visit Summary", visit_path(@visit) %>
  <hr />
</div>
<%= form_for @visit, class: "visit_form" do |f| %>
  <% case @visit.primary_reason %>
  <% when 'due to family history' %>
    <%= render 'family_members/family_tree', patient_id: @patient.id %>
  <% when 'because of a hospitalization' %>
    <%= render 'visits/show_tables/hospitalizations' %>
    <h2>Add another:</h2>
    <hr />
    <%= f.fields_for :patient do |ff| %>
      <%= render 'hospitalization_form', f: ff, form_action: "Update" %>
    <% end %>
  <% when 'for recent testing' %>
    <h2>Add another:</h2>
    <hr />
    <%= f.fields_for :patient do |ff| %>
      <%= render 'test', f: ff, form_action: "Update" %>
    <% end %>
  <% when 'because of related symptoms' %>
    <h2>Add more:</h2>
    <hr />
    <%= f.fields_for :patient do |ff| %>
      <%= render 'original_form', f: ff %>
    <% end %>
  <% end %>
<% end %>
