<% content_for :navbar do %>
  <%= render 'visits/edit_nav.html.erb', patient: @patient, visit: @visit %>
<% end %>

<div id="patientinfo" data="<%= @jpatient %>" ></div>
<div id="alltopics" data="<%= @sorted_topics %>" ></div>
<div id="unsortedtopics" data-unsorted="<%= @topics %>" ></div>
<div id="visit" data="<%= @jvisit %>" ></div>
<div id="concerns" data="<%= @jconcerns %>" ></div>
<div id="sortedconcerns" data="<%= @jsorted_concerns %>" ></div>
<div id="select2patients" data="<%= @select2_patients %>" ></div>
<div id="allpatients" data="<%= @all_patients %>" ></div>
<div id="mskey" data="<%= ENV['MYSCRIPT_KEY'] %>"></div>
<div id="mshmac" data="<%= ENV['MYSCRIPT_HMAC'] %>"></div>

<div id="medications" data="<%= @all_meds.map{|t| [t.name.downcase, t.id]}.to_h.to_json %>"></div>

<%= javascript_pack_tag 'EditVisit' %>

<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reportModalLabel">
          After-visit Letter
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea class="form-control" style="min-height:50em;">
          <%= @report %>
        </textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="summary-accordion">
  <%= render 'visits/show_accordion', concerns: @concerns %>
</div>
<div id="nestedListHook"></div>
<div class="modal fade" id="quickAddModal" tabindex="-1" role="dialog" aria-labelledby="quickAddLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="quickAddLabel">
          Add Concern
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body quick-add">
        <table id="quickAddHook">
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save and Update Visit</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  <%= render 'edit.js' %>
</script>
