<div>
  <%= link_to "View Visit Summary", visit_path(@visit), class: "disabled" %>
  <hr />
</div>
<%= form_for @visit, class: "visit_form" do |f| %>
  <div class="card">
    <div class="card-header text-center">
      <ul class="nav nav-pills">
        <% @root_topics.each do |rt| %>
          <li><a data-toggle="pill" href="#<%= rt.name.parameterize.underscore %>">
            <%= rt.name.titleize %>
          </a></li>
        <% end %>
      </ul>
    </div>
    <div class="card-body">
      <br />
      <div class="tab-content">
        <% @root_topics.each do |rt| %>
          <% @discussion_topic = Topic.roots.where(name: "#{rt.name}")[0].self_and_descendants %>
          <div id="<%= rt.name.parameterize.underscore %>" class="tab-pane fade">
            <h3 class="text-center"><%= rt.name.titleize %></h3>
            <hr />
            <%= render 'topics/nested_list', f: f, discussion_topic: @discussion_topic %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
