<script>
  let allTopics = <%= @sorted_topics.html_safe %>
  let unsortedTopics = <%= @topics.html_safe %>
  let visit = <%= @jvisit.html_safe %>
  let concerns = <%= @jconcerns.html_safe %>
  let patient = <%= @jpatient.html_safe %>
</script>

<% content_for :navbar do %>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/patients/<%= @patient.id %>">
        <%= "#{@patient.last_name}, #{@patient.first_name} (MRN: #{@patient.id})" %>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">
        <%= "#{@patient.age} y/o" %> -
        <% if @patient.primary_diagnosis %>
          <%= @patient.primary_diagnosis %>
        <% else %>
          undiagnosed
        <% end %>
      </a>
    </li>
  </ul>
<% end %>

<div id="ms" data-mskey="<%= ENV['MYSCRIPT_KEY'] %>" data-mshmac="<%= ENV['MYSCRIPT_HMAC'] %>"></div>
<div id="invisible" data-rubyvar="<%= @all_meds.map{|t| [t.name.downcase, t.id]}.to_h.to_json %>"></div>
<%= form_for @visit, class: "visit_form" do |f| %>
  <%= f.fields_for :patient do |ff| %>
    <div class="row">
      <div class="col-sm-12">
        <% if !@patient.primary_diagnosis %>
          <% PRIMARY_DIAGNOSES.each do |d| %>
            <label class="btn btn-primary">
              <input type="radio" autocomplete="off" name="visit[patient_attributes][primary_diagnosis]" value="<%= d %>"> <%= d %>
            </label>
          <% end %>
          <button type="submit" class="btn btn-success btn-sm" id="primary_diagnosis_confirm">
            <i class="fa fa-check" aria-hidden="true"></i>
          </button>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-12" style="margin-bottom:-16px;">
      <%= render 'visits/show_accordion',
        f: f,
        family_members: FamilyMember.where(visit_id: @visit.id),
        vitals: Vital.where(visit_id: @visit.id),
        medications: Medication.where(visit_id: @visit.id),
        imagery: @imagery,
        tests: @tests,
        hospitalizations: Hospitalization.where(visit_id: @visit.id),
        diagnoses: Diagnosis.where(visit_id: @visit.id),
        procedures: Procedure.where(visit_id: @visit.id)
      %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div id="nestedListHook"></div>
    </div>
  </div>
<% end %>
<script>
  <%= render 'edit.js' %>
</script>
