<%= form_for @visit, class: "visit_form" do |f| %>
  <% case @visit.primary_reason %>
  <% when 'due to family history' %>
    <%= render 'family_members/family_tree', patient_id: @patient.id %>
  <% when 'because of a hospitalization' %>
    <h2>Add another hospitalization?</h2>
    <%= render 'hospitalization_form', f: f %>
  <% when 'for recent testing' %>
    <h2>Add another test?</h2>
    <%= render 'test', f: f %>
  <% when 'because of related symptoms' %>
    <h2>Add more symptoms?</h2>
    <%= render 'original_form', f: f %>
  <% end %>
<% end %>
