<script>
  let allTopics = <%= @sorted_topics.html_safe %>
  let unsortedTopics = <%= @topics.html_safe %>
  let visit = <%= @jvisit.html_safe %>
  let concerns = <%= @jconcerns.html_safe %>
  let patient = <%= @jpatient.html_safe %>
</script>
<% content_for :navbar do %>
  <%= render 'visits/edit_nav.html.erb', patient: @patient, visit: @visit %>
<% end %>

<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reportModalLabel">
          After-visit Letter
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea class="form-control" style="min-height:50em;">
          <%= @visit.report %>
        </textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div id="ms" data-mskey="<%= ENV['MYSCRIPT_KEY'] %>" data-mshmac="<%= ENV['MYSCRIPT_HMAC'] %>"></div>
<div id="invisible" data-rubyvar="<%= @all_meds.map{|t| [t.name.downcase, t.id]}.to_h.to_json %>"></div>
<%= form_for @visit, class: "visit_form", id: 'visit_form', html: { multipart: true } do |f| %>
  <%= f.fields_for :patient do |ff| %>
    <div id="diagnosisHeader"></div>
  <% end %>
  <div id="reasonsForVisitHeader"></div>
  <div class="summary-accordion">
    <%= render 'visits/show_accordion',
      f: f,
      family_members: FamilyMember.where(visit_id: @visit.id),
      vitals: Vital.where(visit_id: @visit.id),
      medications: Medication.where(visit_id: @visit.id),
      imagery: @imagery,
      tests: @tests,
      hospitalizations: Hospitalization.where(visit_id: @visit.id),
      diagnoses: Diagnosis.where(visit_id: @visit.id),
      procedures: Procedure.where(visit_id: @visit.id)
    %>
  </div>
  <div id="nestedListHook"></div>
<% end %>
<script>
  <%= render 'edit.js' %>
</script>
