<div class="well well-lg">
  <%= form_for @visit, class: "visit_form" do |f| %>
    <% if params[:patient] %>
    <div class="container center-block" style="text-align: center">
      <h1 class="h1">New Visit for <%= "#{@patient.first_name} #{@patient.last_name}" %></h1>
    </div>
    <hr />
    <div class="form-group">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
          <%= f.hidden_field :patient_id, value: @patient.id %>
    <% else %>
    <div class="container center-block" style="text-align: center">
      <h1 class="h1">New Visit</h1>
    </div>
    <hr />
    <div class="form-group">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
          <%= f.label :patient_id, "Patient ID:", class: "form-check-label" %><br />
          <%= f.number_field :patient_id, autofocus: true, in: 1..99999999, step: 1, class: "form-control" %>
    <% end %>

        </div>
        <div class="col-xs-4 col-xs-offset-4">
          <%= f.label :clinician_id, "Clinician ID:", class: "form-check-label" %><br />
          <%= f.number_field :clinician_id, value: 1, in: 1..99999999, step: 1, class: "form-control" %>
        </div>
        <div class="col-xs-4 col-xs-offset-4">
          <div class="input-group">
            <%= text_field_tag :query, params[:query], placeholder:  "ex 'David Liang', 'Sunny Pellone'", class: "input group form-control" %>
            <span class="input-group-btn">
              <%= button_to "Find Clinician", Doctor.find_doctors(params[:query], Doctor.get_lat_and_long(@patient.city, @patient.state)) %>
            </span>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="form-group">
        <div class="form-check">
          <div class="col-xs col-md-6">
            <%= f.label "How are you feeling today?", class: "form-check-label" %><br />
            <dl>
              <div class="container">
                <label class="form-check-label radio-inline", value="Poor" >
                  <dt class="col-sm-1"><%= f.radio_button :general_health, "Poor", class: "form-check-input", onclick: "renderPartialOne();" %></dt>
                  <dd class="col-sm-11", value="Poor">Poor</dd>
                </label>
              </div>
              <div class="container">
                <label class="form-check-label radio-inline", value="Fair" >
                  <dt class="col-sm-1"><%= f.radio_button :general_health, "Fair", class: "form-check-input", onclick: "renderPartialOne();" %></dt>
                  <dd class="col-sm-11", value="Fair">Fair</dd>
                </label>
              </div>
              <div class="container">
                <label class="form-check-label radio-inline", value="Good" >
                  <dt class="col-sm-1"><%= f.radio_button :general_health, "Good", class: "form-check-input", onclick: "renderPartialOne();" %></dt>
                  <dd class="col-sm-11", value="Good">Good</dd>
                </label>
              </div>
              <div class="container">
                <label class="form-check-label radio-inline", value="Excellent" >
                  <dt class="col-sm-1"><%= f.radio_button :general_health, "Excellent", class: "form-check-input", onclick: "renderPartialOne();" %></dt>
                  <dd class="col-sm-11", value="Excellent">Excellent</dd>
                </label>
              </div>
            </dl>
          </div>
          <div class="col-xs col-md-6">
            <div id="general-health-response"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="reason-for-visit-response"></div>
    <div class="row">
      <br />
      <div class="form-group">
        <div class="col-xs col-md-4 col-centered">
          <%= f.submit "Start New Visit", class: "col-centered col-xs-12 control-label btn btn-success btn-lg" %>
        </div>
      </div>
    </div>
    <script>
      function renderPartialOne() {
        $('#general-health-response').html('<%= j render "reason_for_visit", f: f %>')
      }
    </script>

  <% end %>
</div>
