<%= form_for @visit, class: "visit_form" do |f| %>
  <script>
    function renderPartialOne() {
      $('#general-health-response').html('<%= j render partial: "reason_for_visit", :locals => { f: f } %>')
    }
  </script>

  <div class="row">
    <div class="form-group">
      <div class="col-xs-11 col-md-4 col-centered">
        <h1>New Visit</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="col-xs-11 col-md-4 col-centered">
        <%= f.label "Patient ID: ", class: "col-xs-6 control-label" %><br />
        <%= f.number_field :patient_id, autofocus: true, in: 1..99999999, step: 1, class: "form-control" %>
        <%= f.label "Clinician ID: ", class: "col-xs-6 control-label" %><br />
        <%= f.number_field :clinician_id, autofocus: true, in: 1..99999999, step: 1, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="col-xs-11 col-md-4 col-centered">
        <%= f.label "How are you feeling today?", class: "col-xs-10 control-label" %><br />
        <%= f.label :general_health, "Poor", class: "radio-inline col-xs-10 control-label" %>
        <%= f.radio_button :general_health, "Poor", :onclick => "renderPartialOne();" %> <br />
        <%= f.label :general_health, "Fair", class: "radio-inline col-xs-10 control-label" %>
        <%= f.radio_button :general_health, "Fair", :onclick => "renderPartialOne();" %> <br />
        <%= f.label :general_health, "Good", class: "radio-inline col-xs-10 control-label" %>
        <%= f.radio_button :general_health, "Good", :onclick => "renderPartialOne();" %> <br />
        <%= f.label :general_health, "Excellent", class: "radio-inline col-xs-10 control-label" %>
        <%= f.radio_button :general_health, "Excellent", :onclick => "renderPartialOne();" %> <br />
      </div>
    </div>
  </div>

  <div id="general-health-response"></div><br />

  <div class="row">
    <div class="form-group">
      <div class="col-xs-11 col-md-4 col-centered">
        <%= f.submit "Start New Visit", class: "col-centered col-xs-12 control-label btn btn-primary" %>
      </div>
    </div>
  </div>

<% end %>
