<%= form_for @visit, class: "visit_form" do |f| %>
<%= f.hidden_field :patient_id, value: @patient.id %>
<%= f.hidden_field :clinician_id, value: 1 %>
  <div class="well well-lg">
    <div class="card" style="text-align:center; border-color:#B00713;">
      <div class="card-block">
        <h1 class="purple">New Visit for <%= "#{@patient.first_name} #{@patient.last_name}" %></h1>
      </div>
    </div>
    <hr />
    <%= render 'topics/vitals_form', f: f, visit: @visit, patient: @patient %>
    <div class="row">
      <div class="col-sm">
        <br /><hr />
        <span id="start-button">
        <%= f.submit "Continue Visit", class: "col-centered col-sm form-control-label btn btn-success btn-lg" %>
        </span>
      </div>
    </div>

<% end %>
