<br />
<div class="row">
  <div class="col-xs-11 col-md-6 col-centered">
    <p><%= Time.now.strftime("%d %B %Y") %></p>
    <br />

    <p><%= @patient.address_line_1 %>
    <% if @patient.address_line_2.nil? %>
      <br />
    <% else %>
      <%= @patient.address_line_2 %><br />
    <% end %>
    <%= "#{@patient.city}, #{@patient.state}, #{@patient.postal_code}" %><br />
    <%= @patient.country %></p>
    <br />

    <p>To whom it may concern,</p>
    <p>
      I had the pleasure of seeing <%= "#{@patient.first_name} #{@patient.last_name}" %> on <%= @visit.created_at.strftime("%A, %d %B %Y") %> at <%= @clinician.practice_name %> in <%= "#{@clinician.city}, #{@clinician.state}." %>
    </p>
    <p>
      <%= @patient.first_name %> reported that <%= @he_she %> was feeling in <%= @visit.general_health.downcase %> health
      <% if @visit.primary_reason %>
        and <%= @she_he %> came to us primarily
        <% case @visit.primary_reason %>
        <% when "because of a hospitalization" %>
           because of a <%= @visit.hospitalizations[0].hosp_type.downcase %> hospitalization
          <% if @visit.hospitalizations[0].admission_date %>
            which occurred on <%= @visit.hospitalizations[0].admission_date.strftime('%d %B %Y') %>
          <% else %>
           .
          <% end %>
        <% when "due to family history" %>
          due to family history, including
          <% @visit.family_members.each do |fm| %>
            a <%= fm.relationship.downcase %>, <%= fm.name %>,
            <% if fm.age %>
              <% if fm.living %>
                aged <%= fm.age %> and still alive
              <% else %>
                who was <%= fm.age %> when they died
                <%- if fm.cause_of_death -%>
                  of <%= fm.cause_of_death.downcase %>
                <%- else -%>.
                <% end %>
              <% end %>
            <% end %>
            <% if fm == @visit.family_members.last %>
              <%= "." %>
            <% elsif fm == @visit.family_members[-2] %>
              <%= ", and" %>
            <% else %>
              <%= ", " %>
            <% end %>
          <% end %>
        <% when "for recent testing" %>
          for recent testing

        <% when "because of related symptoms" %>
          because of <%= @first_seeded_symptom.systemic_category.downcase %> symptoms. These symptoms included
          <% if @first_symptom.presence.nil? %>
          <% else %>
            <% if @first_symptom.presence == false %>
              an absence of
            <% elsif @first_symptom.presence == true %>
              a presence of
            <% end %>
          <% end %>
          <%= "#{@first_seeded_symptom.article} #{@first_seeded_symptom.common_name}" %>
        <% end %>
      <% else %>
        .
      <% end %>
    </p>
  </div>
</div>
