<div class="row">
  <div class="col-sm-12 col-centered">
    <h1>
      Visit <%= @visit.id %>
      <small>
        with <%= link_to "#{@clinician.first_name} #{@clinician.last_name}", clinician_path(@clinician) %> at <%= @clinician.practice_name %> on <%= @visit.created_at.strftime("%d %B %Y") %>
      </small>
    </h1>
    <hr />
    <div class="btn-group" role="group">
      <%= button_to "Generate Report", report_visit_path(id: @visit.id), type: "button", method: :get, class: "btn btn-secondary disabled" %>
      <%= button_to "Edit Visit", edit_visit_path(id: @visit.id), type: "button", method: :get, class: "btn btn-secondary" %>
      <%= button_to "Destroy Visit", visit_path(id: @visit.id), method: :delete, type: "button", class: "btn btn-secondary" %>
    </div>
    <br /><br />
    <%= render 'patients/patient_info_header', patient: @patient %>
    <%= render 'visits/show', family_members: FamilyMember.where(visit_id: @visit.id), vitals: Vital.where(visit_id: @visit.id), medications: Medication.where(visit_id: @visit.id), tests: Test.where(visit_id: @visit.id), medications: Medication.where(patient_id: @patient.id), imagery: Test.where(visit_id: @visit.id), hospitalizations: Hospitalization.where(visit_id: @visit.id), diagnoses: Diagnosis.where(visit_id: @visit.id), procedures: Procedure.where(visit_id: @visit.id) %>
  </div>
</div>
