<div class="row">
  <div class="col-xs-10 col-centered">
    <h1>Visit <%= @visit.id %></h1>
    <br />
    <div class="btn-group btn-group-sm" role="group">
      <%= button_to "Generate Report", report_visit_path(id: @visit.id), type: "button", method: :get, class: "btn btn-secondary" %>
      <%= button_to "Edit Visit", edit_visit_path(id: @visit.id), type: "button", method: :get, class: "btn btn-secondary" %>
      <%= button_to "Destroy Visit", visit_path(id: @visit.id), method: :delete, type: "button", class: "btn btn-secondary" %>
    </div>
    <br /><br />
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Patient</h3>
      </div>
      <div class="panel-body">
        <h5><%= link_to "#{@patient.last_name}, #{@patient.first_name}", patient_path(@patient.id)  %></h5>
      </div>
      <ul class="list-group">
        <li class="list-group-item"><h5>Date of Birth: <%= @patient.date_of_birth.strftime("%d %B %Y") %></h5> </li>
        <li class="list-group-item"><h5>Sex: <%= @patient.sex %></h5></li>
      </ul>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Hospitalizations</h3>
      </div>
      <% if @visit.hospitalizations.length != 0 %>
        <table class="table table-striped table-hover">
          <tr>
            <th>Date</th>
            <th>Length of Stay</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
          <% @visit.hospitalizations.each do |h| %>
            <tr>
              <td><%= h.admission_date.strftime("%d %B %Y") %></td>
              <td><%= h.length_of_stay %></td>
              <td><%= h.hosp_type %></td>
              <td><%= h.description %></td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <div class="panel-body">
          <h5>Patient did not report any hospitalizations during this visit.</h5>
        </div>
      <% end %>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Family Members</h3>
      </div>
      <% if @visit.family_members.length != 0 %>
        <table class="table table-striped table-hover">
          <tr>
            <th>Name</th>
            <th>Relationship</th>
            <th>Note</th>
            <th>Actions</th>
          </tr>
          <% @visit.family_members.each do |fm| %>
            <tr>
              <td><%= fm.name %></td>
              <td><%= fm.relationship %></td>
              <td><%= fm.note %></td>
              <td>
                <div class="hidden-sm hidden-xs btn-group btn-group-sm hidden-sm-down" role="group">
                  <%= button_to "Edit", edit_family_member_path(id: fm.id), type: "button", method: :get, class: "btn btn-secondary" %>
                  <%= button_to "Delete", family_member_path(id: fm.id), type: "button", method: :delete, class: "btn btn-secondary", data: { confirm: "Are you sure?" } %>
                </div>
                <div class="hidden-md hidden-lg hidden-xlg btn-group btn-group-sm" role="group">
                  <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Edit", edit_family_member_path(id: fm.id), method: :get %></li>
                    <li><%= link_to "Delete", family_member_path(id: fm.id), method: :delete, data: { confirm: "Are you sure?" } %></li>
                  </ul>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <div class="panel-body">
          <h5>Patient did not discuss any family members during this visit.</h5>
        </div>
      <% end %>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Recent Tests</h3>
      </div>
      <% if @visit.tests.length != 0 %>
        <table class="table table-striped table-hover">
          <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Result</th>
          </tr>
          <% @visit.tests.each do |t| %>
            <tr>
              <td><%= t.test_date.strftime("%d %B %Y") %></td>
              <td><%= t.test_type %></td>
              <td><%= t.result %></td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <div class="panel-body">
          <h5>Patient did not discuss any recent tests during this visit.</h5>
        </div>
      <% end %>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Symptoms</h3>
      </div>
      <% if @visit.symptoms.length != 0 %>
        <table class="table table-striped table-hover">
          <tr>
            <th>Symptom</th>
            <th>System</th>
            <th>Present?</th>
            <th>Measurement</th>
          </tr>
          <% @symptoms.each do |s| %>
            <tr>
              <td><%= SeededSymptom.where(id: s.seeded_symptom_id)[0].common_name %></td>
              <td><%= SeededSymptom.where(id: s.seeded_symptom_id)[0].systemic_category %></td>
              <td><%= s.presence %></td>
              <td><%= s.measurement %></td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <div class="panel-body">
          <h5>Patient did not report any symptoms during this visit.</h5>
        </div>
      <% end %>
    </div>
  </div>
</div>
