<div class="card" id="mainNestedList">
  <div class="card-header text-center">
    <ul class="nav nav-tabs" role="tablist">
      <div class="row">
        <% @root_topics.each_with_index do |rt, i| %>
        <% key = rt.name.singularize.parameterize.underscore%>
          <li class="nav-item">
            <a class="nav-link open-tab" data-tab-index="<%= i %>" data-toggle="tab" href="#<%= key %>" role="tab">
              <%= rt.name.titleize %>
            </a>
          </li>
        <% end %>
      </div>
    </ul>
  </div>
  <div class="card-block">
    <div class="tab-content">
      <% @root_topics.each_with_index do |rt, i| %>
        <% key = rt.keyify %>
        <div class="tab-pane fade <%= "show in" if i == 0 %>" role="tabpanel" id="<%= key %>" data-tab-index="<%= i %>">
          <% @discussion_topic = Topic.roots.where(name: "#{rt.name}")[0].self_and_descendants %>
          <% case rt.name %>
          <% when 'family history' %>
            <%= render 'family_members/family_tree', f: f %>
          <% when 'aortic imaging' %>
            <%= f.submit "Update Visit", class: "col-centered col-sm-12 form-control-label btn btn-secondary btn-lg" %>
            <br /><hr />
            Add More: <%= render 'topics/visit_edit_imaging_selector', f: f %>
            <hr />
            <div id="heart-imagery-hook"></div>
            <%= render 'visits/show_tables/heart_imagery', imagery: @imagery %>
          <% when 'vitals' %>
            Vitals
            <hr />
          <% when 'medication' %>
            <%= render 'medications/epic_add_form', f: f %>
            <hr />
            <%= render 'medications/show_table', medications: @patient.medications %>
          <% else %>
            <%= f.submit "Update Visit", class: "col-centered col-sm-12 form-control-label btn btn-secondary btn-lg" %>
            <br /><hr />
            <h3 class="card-header text-center"><%= rt.name.titleize %>
            </h3>
            <hr />
            <%= render 'topics/nested_list', f: f, discussion_topic: @discussion_topic %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
// initialize jQuery UI tabbing
$(function () {
   $("#mainNestedList").tabs()
});

// click on either 'bar' or tab 'nav-link'
$('a.open-tab').on("click", function(){
  // accordion-style collapse
  $("ul.summary-bar").find(".active").removeClass("active");
  $('#tabs').tabs("option", "active", $(this).data("tab-index"));
  $('.summary-body').hide();
  $(this).next(".summary-body").toggle();
  // scroll to new content
  $('html, body').animate({
    scrollTop: ($('.tab-pane.active').offset().top)
  }, 350);
});

// click on tab 'nav-link'
$('a.nav-link').on("click", function(){
  $(".nav").find(".active").removeClass("active");
  $(this).parent().addClass("active");
});
</script>
