<style>
.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

.list-group-item .glyphicon {
    margin-right: 5px;
}
</style>
<div class="row flex">
  <div class="col-xs-12">
    <% active_parents = [] %>
      <div class="list-group list-group-root well">
      <% discussion_topic.each do |category| %>
        <% active_parents.each do |p| %>
        <% if !category.is_descendant_of?(p) %>
          <% active_parents.delete(p) %>
        </div>
        <% end %>
      <% end %>

      <% if category.leaf? %>
        <a href="#" class="list-group-item"><%= category.name %>
        <% case category.topic_type %>
        <% when 'measurement' %>
          <a href="#" role="button" class="btn btn-primary pull-right" style="margin-top: -30px;" data-topic_id="<%= category.id %>" id="test-reason">TEST FORM HERE</a>
        <% when 'procedure' %>
          <a href="#" role="button" class="btn btn-info pull-right" style="margin-top: -30px;" data-topic_id="<%= category.id %>" id="procedure-reason">PROCEDURE FORM HERE</a>
        <% when 'complication' %>
          <a href="#" role="button" class="btn btn-info pull-right" style="margin-top: -30px;" data-topic_id="<%= category.id %>" id="complication-reason">COMPLICATION FORM HERE</a>
        <% when 'measurement' %>
          <a href="#" role="button" class="btn btn-info pull-right" style="margin-top: -30px;" data-topic_id="<%= category.id %>" id="test-reason">TEST FORM HERE</a>
        <% when 'symptom' %>
          <a href="#" role="button" class="btn btn-info pull-right" style="margin-top: -30px;" data-topic_id="<%= category.id %>" id="symptom-reason">SYMPTOM FORM HERE</a>
        <% when 'diagnosis' %>
          <a href="#" role="button" class="btn btn-info pull-right" style="margin-top: -30px;" data-topic_id="<%= category.id %>" id="diagnosis-reason">DIAGNOSIS FORM HERE</a>
        <% when 'medication' %>
          <a href="#" role="button" class="btn btn-info pull-right" style="margin-top: -30px;" data-topic_id="<%= category.id %>" id="med-reason">MEDICATION FORM HERE</a>
        <% end %>
        <% category.depth.times do |i| %>
          </a>
        <% end %>
      <% else %>
        <a href="#item-<%= category.id %>" class="list-group-item" data-toggle="collapse">
          <i class="glyphicon glyphicon-chevron-right"></i>
          <%= category.name %>
        </a>
        <% active_parents << category %>
        <div class="list-group collapse" id="item-<%= category.id %>">
      <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('#procedure-reason').click(function renderProcedureTopicForm() {
    $('#form-hook').html("<hr /><%= j render 'procedures/procedure_form', f: f %>");
    $('#start-button').focus();
  });
  $('#complication-reason').click(function renderComplicationTopicForm() {
    $('#form-hook').html("<hr /><%= j render 'test', f: f %>");
    $('#start-button').focus();
  });
  $('#test-reason').click(function renderTestTopicForm() {
    $('#form-hook').html("<hr /><%= j render 'test', f: f %>");
    $('#start-button').focus();
  });
  $('#symptom-reason').click(function renderSymptomTopicForm() {
    $('#form-hook').html("<hr /><%= j render 'test', f: f %>");
    $('#start-button').focus();
  });
  $('#diagnosis-reason').click(function renderDiagnosisTopicForm() {
    $('#form-hook').html("<hr /><%= j render 'test', f: f %>");
    $('#start-button').focus();
  });
  $('#family-reason').click(function renderFamilyMemberTopicForm() {
    $('#form-hook').html("<hr /><%= j render 'test', f: f %>");
    $('#start-button').focus();
  });
  $('#med-reason').click(function renderMedTopicForm() {
    $('#form-hook').html("<hr /><%= j render 'test', f: f %>");
    $('#start-button').focus();
  });
</script>
