$('h6.all-neg-toggler').click(function toggleAllAbsent() {
  $('.tab-pane.active').find("input[value='false']").prop("checked", "checked")
  $("html, body").animate({ scrollTop: $(document).height() }, 350);
});
$('input[value=true]').off('click').on('click', function() {
  topic = $(this).closest('tr').children('.topic_id').val();
  select_options = `<option>seconds</option>
  <option>minutes</option>
  <option>hours</option>
  <option>days</option>
  <option>weeks</option>
  <option>months</option>
  <option>years</option>`
  $(this).closest('tr').after(`<div class="form-inline">
      <div class="input-group">
        <input type="number" name="visit[diagnoses_attributes][${topic}][time_ago_amount]" id="visit_diagnoses_attributes_${topic}_time_ago_amount" class="form-control" placeholder="time ago">
        <select name="visit[diagnoses_attributes][${topic}][time_ago_scale]" id="visit_diagnoses_attributes_${topic}_time_ago_scale" class="form-control">
          ${select_options}
        </select>
        |
        <input type="number" name="visit[diagnoses_attributes][${topic}][duration_amount]" id="visit_diagnoses_attributes_${topic}_duration_amount" class="form-control" placeholder="duration">
        <select name="visit[diagnoses_attributes][${topic}][duration_scale]" id="visit_diagnoses_attributes_${topic}_duration_scale" class="form-control">
          ${select_options}
        </select>
      </div>
    </div>
    `);
});


// function renderProcedureTopicForm(int) {
//   $('.tab-pane.active').find('.form-hook').html("<%= j render 'procedures/procedure_form', f: f %><hr />");
//   $('input.procedure-response:last').val(int);
// };
// function renderTestTopicForm(int) {
//   $('.tab-pane.active').find('.form-hook').html("<%= j render 'tests/test_form', f: f, tests: @tests %>");
//   $('input.test-response:last').val(int);
// };
// function renderDiagnosisTopicForm() {
//   $('.tab-pane.active').find('.form-hook').html("<%= j render 'diagnoses/diagnosis', f: f %><hr />");
// };
// function renderFamilyMemberTopicForm(int) {
//   $('.tab-pane.active').find('.form-hook').html("<%= j render 'family_members/family_member_form', f: f, topic: Topic.find(2) %><hr />");
//   $('input.family-response:last').val(int);
// };
// function renderMedTopicForm(int) {
//   $('.tab-pane.active').find('.form-hook').html("<%= j render 'medications/medication_form', f: f %><hr />");
//   $('input.med-response:last').val(int);
// };
// function renderStatTopicForm(int) {
//   $('.tab-pane.active').find('.form-hook').html("<%= j render 'vitals/vital_form', f: f %><hr />");
//   $('input.stat-response').val(int);
// };
