<!-- <div class="card" id="mainNestedList">
  <div class="card-header text-center"> -->
  <nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
    <ul class="nav nav-tabs" role="tablist">
      <div class="row">
        <% @root_topics.each_with_index do |rt, i| %>
        <% key = rt.keyify %>
          <li class="nav-item">
            <a class="nav-link open-tab" data-tab-index="<%= i %>" data-toggle="tab" href="#<%= key %>" role="tab">
              <%= rt.name.titleize %>
            </a>
          </li>
        <% end %>
      </div>
    </ul>
  </nav>
  <!-- </div> -->
  <div class="container container-fluid">
    <div class="tab-content">
      <% @root_topics.each_with_index do |rt, i| %>
        <% key = rt.keyify %>
        <div class="tab-pane fade <%= "show in" if i == 0 %>" role="tabpanel" id="<%= key %>" data-tab-index="<%= i %>">
          <% @discussion_topic = Topic.roots.where(name: "#{rt.name}")[0].self_and_descendants %>
          <% case rt.name %>
          <% when 'family history' %>
            <%= render 'family_members/family_tree', f: f %>
          <% when 'aortic imaging' %>
            <%= f.submit "Update Visit", class: "col-centered col-sm-12 form-control-label btn btn-light btn-lg" %>
            <br />
            Add More: <%= render 'topics/echocardiogram', f: f %>
            <div id="heart-imagery-hook"></div>
            <%= render 'visits/show_tables/heart_imagery', imagery: @imagery %>
          <% when 'vitals' %>
            Vitals
          <% when 'medication' %>
            <%= render 'medications/epic_add_form', f: f %>
            <hr />
            <%= render 'medications/show_table', medications: @patient.medications %>
          <% else %>
            <%= f.submit "Update Visit", class: "col-centered col-sm-12 form-control-label btn btn-light btn-lg" %>
            <br />
            <h3 class="card-header text-center"><%= rt.name.titleize %>
            </h3>
            <%= render 'topics/nested_list', f: f, discussion_topic: @discussion_topic %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<!-- </div> -->
<script>
// initialize jQuery UI tabbing
$(function () {
  $("#mainNestedList").tabs()
});

// click on either 'bar' or tab 'nav-link'
$('a.open-tab').on("click", function(){
  var reg = $(this).data('key').split('_')[0]
  var tabIndex = $("div.tab-pane[id^=" + reg + "]").data('tab-index');
  console.log(tabIndex)
  // accordion-style collapse
  $("ul.summary-bar").find(".active").removeClass("active");
  //open relevant tab-pane
  $('#tabs').tabs("option", "active", tabIndex);
  $('a.nav-link.open-tab').find('active').removeClass('active')
  var $ind = $('a.nav-link.open-tab[data-tab-index=' + tabIndex + ']')
  console.log($ind)
  $ind.addClass('active')
  $('.summary-body').hide();
  $(this).next(".summary-body").toggle();
  // scroll to new content
  $('html, body').animate({
    scrollTop: ($('.tab-pane.active').offset().top)
  }, 350);
});

// click on tab 'nav-link'
$('a.nav-link').on("click", function(){
  $(".nav").find(".active").removeClass("active");
  $(this).parent().addClass("active");
});
</script>
