<table class="table">
  <thead>
    <tr>
      <th>

      </th>
      <th>
        Present
      </th>
      <th>
        Absent
      </th>
    </tr>
  </thead>
  <tbody>
    <%= f.fields_for :diagnoses, @nested_scope.diagnoses.build do |ff| %>
      <% discussion_topic.leaves.select { |leaf| leaf.topic_type == 'diagnosis' }.each do |l| %>
        <%= ff.hidden_field :patient_id, value: @patient.id, name: "visit[diagnoses_attributes][#{l.id}][patient_id]", id: "visit_diagnoses_attributes_#{l.id}_patient_id" %>
        <%= ff.hidden_field :visit_id, value: @visit.id, name: "visit[diagnoses_attributes][#{l.id}][visit_id]", id: "visit_diagnoses_attributes_#{l.id}_visit_id" %>
        <%= ff.hidden_field :topic_id, value: l.id, name: "visit[diagnoses_attributes][#{l.id}][topic_id]", id: "visit_diagnoses_attributes_#{l.id}_topic_id" %>
        <tr>
          <td>
            <%= l.name %>
          </td>
          <div class="form-check">
            <td>
              <%= ff.radio_button :presence, true, name: "visit[diagnoses_attributes][#{l.id}][presence]", id: "visit_diagnoses_attributes_#{l.id}_presence_true" %>
            </td>
            <td>
              <%= ff.radio_button :presence, false, name: "visit[diagnoses_attributes][#{l.id}][presence]", id: "visit_diagnoses_attributes_#{l.id}_presence_false" %>
            </td>
          </div>
          <td>
            <%= %>
          </td>
          <td>

          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<script>
    <%= render 'topics/nested_list.js', f: f %>
</script> 
<!-- <%
  def draw_tree(node)
    node.children.each do |child|
%>
    <div class="card">
      <% if child.leaf? %>
        <div class="card-block">
            <%= child.name %>
            <%= render_form_button(child, @nested_scope) %>
        </div>
      <% else %>
        <div class="card-header" role="tab" id="heading_<%= child.id %>">
          <h5 class="mb-0">
            <a data-animation="false" data-toggle="collapse" data-parent="#accordion1" href="#link_<%= child.id %>" aria-expanded="true" aria-controls="link_<%= child.id %>">
              <%= child.name  %><i class="fa fa-chevron-down"></i>
            </a>
          </h5>
        </div>
        <div id="link_<%= child.id %>" class="collapse" role="tabpanel" aria-labelledby="heading_<%= child.id %>">
          <div class="card-block">
            <%= draw_tree(child) %>
          </div>
        </div>
      <% end %>
    </div>
<%
    end; nil
  end
%>
<div class="row">
  <div class="col-sm-6">
    <div id="accordion1" role="tablist" aria-multiselectable="true">
      <% discussion_topic.roots.each do |node| %>
        <div class="card">
          <% if node.leaf? %>
            <div class="card-block">
              <%= node.name %>
            </div>
          <% else %>
            <div class="card-header" role="tab" id="heading_<%= node.id %>">
              <h5 class="mb-0">
                <a data-animation="false" data-toggle="collapse" data-parent="#accordion1" href="#link_<%= node.id %>" aria-expanded="true" aria-controls="link_<%= node.id %>">
                  <%= node.name  %><i class="fa fa-chevron-down"></i>
                </a>
              </h5>
            </div>
            <div id="link_<%= node.id %>" class="collapse show" role="tabpanel" aria-labelledby="heading_<%= node.id %>">
              <div class="card-block">
                <%= draw_tree(node) %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-hook"></div>
  </div>
</div>-->
