<%
  def draw_tree(node)
    node.children.each do |child|
%>
        <% if child.leaf? %>
          <li class="list-group-item list-group-item-action">
            <%= child.name %>
            <%= render_form_button(child, @nested_scope) %>
        </li>
        <% else %>
          <li class="card list-group-item">
            <a id="heading_<%= child.id %>" data-toggle="collapse" role="tab" aria-expanded="true" aria-controls="link_<%= node.id %>" data-parent="#link_<%= child.parent_id %>" href="#link_<%= child.id %>">
              <i class="fa fa-chevron-down"></i>
              <%= child.name %>
            </a>
            <br />
            <ul id="link_<%= child.id %>" class="collapse list-group"><% draw_tree(child) %></ul>
        <% end %>
          </li>
<%
    end; nil
  end
%>
<div class="row">
  <div class="col-sm-6">
    <ul class="list-group" id="accordion1">
      <% discussion_topic.roots.each do |node| %>
        <% if node.leaf? %>
          <li class="list-group-item list-group-item-action"><%= node.name %></li>
        <% else %>
          <li class="card list-group-item list-group-item-action">
            <a id="heading_<%= node.id %>" data-toggle="collapse" role="tab" aria-expanded="true" aria-controls="link_<%= node.id %>" data-parent="#accordion1" href="#link_<%= node.id %>">
              <i class="fa fa-chevron-down"></i>
              <%= node.name  %>
            </a>
            <br />
            <ul id="link_<%= node.id %>" class="collapse show list-group" role="tabpanel" aria-labelledby="heading_<%= node.id %>" ><%= draw_tree(node) %></ul>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="col-sm-6">
    <div class="form-hook"></div>
  </div>
</div>

<script>
  function renderProcedureTopicForm(int) {
    $('.tab-pane.active').find('.form-hook').html("<%= j render 'procedures/procedure_form', f: f %><hr />");
    $('input.procedure-response:last').val(int);
  };
  function renderComplicationTopicForm(int) {
    $('.tab-pane.active').find('.form-hook').html("<%= j render 'complications/complication_form', f: f %><hr />");
    $('input.complication-response:last').val(int);
  };
  function renderTestTopicForm(int) {
    $('.tab-pane.active').find('.form-hook').html("<%= j render 'tests/test_form', f: f, tests: @tests %>");
    $('input.test-response:last').val(int);
  };
  function renderSymptomTopicForm() {
    $('.tab-pane.active').find('.form-hook').html("<%= j render 'tests/test_form', f: f %><hr />");
  };
  function renderDiagnosisTopicForm() {
    $('.tab-pane.active').find('.form-hook').html("<%= j render 'diagnoses/diagnosis', f: f %><hr />");
  };
  function renderFamilyMemberTopicForm(int) {
    $('.tab-pane.active').find('.form-hook').html("<%= j render 'family_members/family_member_form', f: f, topic: Topic.find(2) %><hr />");
    $('input.family-response:last').val(int);
  };
  function renderMedTopicForm(int) {
    $('.tab-pane.active').find('.form-hook').html("<%= j render 'medications/medication_form', f: f %><hr />");
    $('input.med-response:last').val(int);
  };
  function renderStatTopicForm(int) {
    $('.tab-pane.active').find('.form-hook').html("<%= j render 'topics/vital_form', f: f %><hr />");
    $('input.stat-response').val(int);
  };
</script>
