<div class="card">
  <div class="card-header text-center">
    <ul class="nav nav-pills card-header-pills">
      <% @root_topics.each do |rt| %>
        <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#<%= rt.name.parameterize.underscore %>">
          <%= rt.name.titleize %>
        </a></li>
      <% end %>
    </ul>
  </div>
  <div class="card-block">
    <div class="tab-content">
      <% @root_topics.each do |rt| %>
        <% @discussion_topic = Topic.roots.where(name: "#{rt.name}")[0].self_and_descendants %>
        <div class="tab-pane" id="<%= rt.name.parameterize.underscore %>">
          <br />
          <% case rt.name %>
          <% when 'family history' %>
            <%= render 'family_members/family_tree', f: f %>
          <% when 'aortic imaging' %>
            <%= render 'topics/visit_edit_imaging_selector', f: f %>
            <div id="heart-imagery-hook"></div>
            <%= render 'visits/show_tables/heart_imagery', imagery: @imagery %>
          <% else %>
            <%= f.submit "Update Visit", class: "col-centered col-xs-12 control-label btn btn-secondary btn-lg" %>
            <br /><br />
            <hr />
            <h3 class="card-title text-center"><%= rt.name.titleize %>
            </h3>
            <hr />
            <%= render 'topics/nested_list', f: f, discussion_topic: @discussion_topic %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
