<style>
.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

.list-group-item .glyphicon {
    margin-right: 5px;
}
</style>
<div class="row flex">
  <div class="col-xs-12">
    <% active_parents = [] %>
      <div class="list-group list-group-root well">
      <% discussion_topic.each do |category| %>
        <% active_parents.each do |p| %>
        <% if !category.is_descendant_of?(p) %>
          <% active_parents.delete(p) %>
        </div>
        <% end %>
      <% end %>

      <% if category.leaf? %>
        <a href="#" class="list-group-item"><%= category.name %>
        <% case category.topic_type %>
        <% when 'measurement' %>
          <button type="button" class="btn btn-info pull-right" style="margin-top: -8px;" value="<%= category.id %>" id="test-reason" onclick="renderTestTopicForm($(this).val());">Add test details</button>
        <% when 'procedure' %>
          <button type="button" class="btn btn-info pull-right" style="margin-top: -8px;" value="<%= category.id %>" id="procedure-reason">Add procedure details</button>
        <% when 'complication' %>
          <button type="button" class="btn btn-info pull-right" style="margin-top: -8px;" value="<%= category.id %>" id="complication-reason">Add details</button>
        <% when 'symptom' %>
          <button type="button" class="btn btn-info pull-right" style="margin-top: -8px;" value="<%= category.id %>" id="symptom-reason">Add symptom details</button>
        <% when 'diagnosis' %>
          <button type="button" class="btn btn-info pull-right" style="margin-top: -8px;" value="<%= category.id %>" id="test-reason" onclick="renderTestTopicForm($(this).val());">Add testing details</button>
        <% when 'medication' %>
          <button type="button" class="btn btn-info pull-right" style="margin-top: -8px;" value="<%= category.id %>" id="med-reason" onclick="renderMedTopicForm($(this).val());">Add medication details</button>
        <% end %>
        <% category.depth.times do |i| %>
          </a>
        <% end %>
      <% else %>
        <a href="#item-<%= category.id %>" class="list-group-item" data-toggle="collapse">
          <i class="glyphicon glyphicon-chevron-right"></i>
          <%= category.name %>
        </a>
        <% active_parents << category %>
        <div class="list-group collapse" id="item-<%= category.id %>">
      <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
  function renderProcedureTopicForm() {
    console.log('procedure event called');
    $('#form-hook').html("<%= j render 'procedures/procedure_form', f: f %><hr />");
    $('#start-button').focus();
  };
  function renderComplicationTopicForm() {
    console.log('complication event called');
    $('#form-hook').html("<%= j render 'test', f: f %><hr />");
    $('#start-button').focus();
  };
  function renderTestTopicForm(int) {
    console.log('test event called');
    $('#form-hook').html("<%= j render 'test', f: f %><hr />");
    $('html, body').animate({scrollTop:$('#visit_top').position().top - 80}, 'slow');
    $('input.test-response:last').val(int);
    console.log(int)
  };
  function renderSymptomTopicForm() {
    $('#form-hook').html("<%= j render 'test', f: f %><hr />");
  };
  function renderDiagnosisTopicForm() {
    $('#form-hook').html("<%= j render 'diagnosis', f: f %><hr />");
  };
  function renderFamilyMemberTopicForm() {
    $('#form-hook').html("<%= j render 'test', f: f %><hr />");
  };
  function renderMedTopicForm(int) {
    console.log('med topic called');
    $('#form-hook').html("<%= j render 'medication_form', f: f %><hr />");
    $('html, body').animate({scrollTop:$('#visit_top').position().top - 80}, 'slow');
    $('input.med-response:last').val(int);
    console.log(int)
  };
</script>
