<%
  def render_form_button(category)
  %>
    <% case category.topic_type %>
    <% when 'family member' %>
      <button type="button" class="btn btn-info pull-right" style="margin-top: -8px;" value="<%= category.id %>" id="family-reason" onclick="renderFamilyMemberTopicForm($(this).val());">Add relationship details</button>
    <% when 'measurement' %>
      <button type="button" class="btn btn-info pull-right" style="margin-top: -8px;" value="<%= category.id %>" id="test-reason" onclick="renderTestTopicForm($(this).val());">Add test details</button>
    <% when 'procedure' %>
      <button type="button" class="btn btn-info pull-right" style="margin-top: -8px;" value="<%= category.id %>" id="procedure-reason">Add procedure details</button>
    <% when 'complication' %>
      <button type="button" class="btn btn-info pull-right" style="margin-top: -8px;" value="<%= category.id %>" id="complication-reason" onclick="renderComplicationTopicForm($(this).val());">Add details</button>
    <% when 'symptom' %>
      <button type="button" class="btn btn-info pull-right" style="margin-top: -8px;" value="<%= category.id %>" id="symptom-reason">Add symptom details</button>
    <% when 'diagnosis' %>
      <button type="button" class="btn btn-info pull-right" style="margin-top: -8px;" value="<%= category.id %>" id="test-reason" onclick="renderTestTopicForm($(this).val());">Add testing details</button>
    <% when 'medication' %>
      <button type="button" class="btn btn-info pull-right" style="margin-top: -8px;" value="<%= category.id %>" id="med-reason" onclick="renderMedTopicForm($(this).val());">Add medication details</button>
    <% end %>
<% end %>

<%
  def draw_tree(node)
    node.children.each do |child|
%>
        <% if child.leaf? %>
          <li class="list-group-item list-group-item-action">
            <%= child.name %>
            <% render_form_button(child) %>
        </li>
        <% else %>
          <li class="panel list-group-item">
            <a id="heading_<%= child.id %>" data-toggle="collapse" role="tab" aria-expanded="true" aria-controls="link_<%= node.id %>" data-parent="#link_<%= child.parent_id %>" href="#link_<%= child.id %>">
              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
              <%= child.name %>
            </a>
            <ul id="link_<%= child.id %>" class="collapse list-group"><% draw_tree(child) %></ul>
        <% end %>
          </li>
<%
    end; nil
  end
%>
<div class="row">
  <div class="col-xs-6">
    <ul class="list-group" id="accordion1">
      <% discussion_topic.roots.each do |node| %>
        <% if node.leaf? %>
        <li class="list-group-item list-group-item-action"><%= node.name %></li>
        <% else %>
          <li class="panel list-group-item list-group-item-action">
            <a id="heading_<%= node.id %>" data-toggle="collapse" role="tab" aria-expanded="true" aria-controls="link_<%= node.id %>" data-parent="#accordion1" href="#link_<%= node.id %>">
              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
              <%= node.name  %>
            </a>
          <ul id="link_<%= node.id %>" class="collapse show list-group" role="tabpanel" aria-labelledby="heading_<%= node.id %>" ><%= draw_tree(node) %></ul>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="col-xs-6">
    <div id="form-hook"></div>
  </div>
</div>

<script>
  function renderProcedureTopicForm(int) {
    $('#form-hook:last').html("<%= j render 'procedures/procedure_form', f: f %><hr />");
    $('input.procedure-response:last').val(int);
  };
  function renderComplicationTopicForm(int) {
    $('#form-hook:last').html("<%= j render 'complications/complication_form', f: f %><hr />");
    $('input.complication-response:last').val(int);
  };
  function renderTestTopicForm(int) {
    $('#form-hook:last').html("<%= j render 'test', f: f %><hr id='kd' />");
    $('input.test-response:last').val(int);
    $('hr#kd:last').html("<div id='form-hook'></div>");
  };
  function renderSymptomTopicForm() {
    $('#form-hook:last').html("<%= j render 'test', f: f %><hr />");
  };
  function renderDiagnosisTopicForm() {
    $('#form-hook:last').html("<%= j render 'diagnosis', f: f %><hr />");
  };
  function renderFamilyMemberTopicForm(int) {
    $('#form-hook:last').html("<%= j render 'family_member_form', f: f %><hr />");
    $('input.family-response:last').val(int);
  };
  function renderMedTopicForm(int) {
    $('#form-hook:last').html("<%= j render 'medication_form', f: f %><hr />");
    $('input.med-response:last').val(int);
  };
</script>
