<div class="col-sm-3">

  <div class="card-block">
    <h5 class="card-title"><%= s.name %></h5>
  </div>

  <div class="card-block">
    <%= ff.hidden_field :patient_id, value: @patient.id, id: "visit_vitals_attributes_#{s.id}_patient_id", name: "visit[vitals_attributes][#{s.id}][patient_id]"%>
    <%= ff.hidden_field :visit_id, value: @visit.id, id: "visit_vitals_attributes_#{s.id}_visit_id", name: "visit[vitals_attributes][#{s.id}][visit_id]" %>
    <%= ff.hidden_field :topic_id, value: s.id, id: "visit_vitals_attributes_#{s.id}_topic_id", name: "visit[vitals_attributes][#{s.id}][topic_id]" %>
    <% case s.name %>
    <% when "tobacco" %>
      <%= ff.select :measurement, ["", "current", "past", "never"], {}, {class: "form-control", id: "visit_vitals_attributes_#{s.id}_measurement", name: "visit[vitals_attributes][#{s.id}][measurement]"} %>
    <% when "exercise" %>
      <%= ff.select :measurement, ["", "mild", "moderate", "strenuous", "competitive"], {}, {class: "form-control", id: "visit_vitals_attributes_#{s.id}_measurement", name: "visit[vitals_attributes][#{s.id}][measurement]"} %>
    <% else %>
      <%= ff.number_field :measurement, class: "form-control", min: -0.9, max: 0.9, step: 0.1, id: "visit_vitals_attributes_#{s.id}_measurement", name: "visit[vitals_attributes][#{s.id}][measurement]" %>
    <% end %>
  </div>

  <div class="card-block">
    <%= ff.text_area :note, placeholder: "add note?", class: "form-control", id: "visit_vitals_attributes_#{s.id}_note", name: "visit[vitals_attributes][#{s.id}][note]" %>
  </div>
</div>
