<div class="form-group row">
  <label for="form_<%= s.id %>" class="col-4 col-form-label">
    <%= s.name %>
  </label>
  <div class="col-8">
    <div class="input-group", id="form_<%= s.id%>">
      <%= ff.hidden_field :patient_id, value: @patient.id, id: "visit_vitals_attributes_#{s.id}_patient_id", name: "visit[vitals_attributes][#{s.id}][patient_id]"%>
      <%= ff.hidden_field :visit_id, value: @visit.id, id: "visit_vitals_attributes_#{s.id}_visit_id", name: "visit[vitals_attributes][#{s.id}][visit_id]" %>
      <%= ff.hidden_field :topic_id, value: s.id, id: "visit_vitals_attributes_#{s.id}_topic_id", name: "visit[vitals_attributes][#{s.id}][topic_id]" %>

      <%= ff.number_field :test_amount, in: s.min_value..s.max_value, step: s.step, class: "form-control form-inline test_amount",
      id: "visit_vitals_attributes_#{s.id}_test_amount", name: "visit[vitals_attributes][#{s.id}][test_amount]", required: true %>
      <%= ff.select :test_unit_of_meas, s.units_of_measurement, {include_blank: false}, {class: "form-control", id: "visit_vitals_attributes_#{s.id}_test_unit_of_meas", name: "visit[vitals_attributes][#{s.id}][test_unit_of_meas]"} %>
      <span class="input-group-btn">
        <button id="calc_button_<%= s.id %>" class="btn btn-primary" type="button"><i class="fa fa-calculator"></i></button>
      </span>
    </div>
  </div>
</div>
    <!-- <div class="col-sm">
      <%= ff.text_area :note, placeholder: "add note?", class: "form-control", id: "visit_vitals_attributes_#{s.id}_note", name: "visit[vitals_attributes][#{s.id}][note]" %>
    </div> -->
<script>
  $('#visit_vitals_attributes_<%= s.id %>_test_amount').keyboard({
    openOn : null,
    stayOpen : true,
    layout : 'num'
    });
  $('#calc_button_<%= s.id %>').click(function(){
  	var kb = $('#visit_vitals_attributes_<%= s.id %>_test_amount').getkeyboard();
  	// close the keyboard if the keyboard is visible and the button is clicked a second time
  	if ( kb.isOpen ) {
  		kb.close();
  	} else {
  		kb.reveal();
  	}
  });
</script>
