<%= f.fields_for :vitals do |ff| %>
  <div class="card p-3">
    <div class="card-block">
      <%= ff.label :measurement, class: "form-control-label" %>
      <%= render 'visits/visit_presence_checker', f: ff %>
      <%= ff.hidden_field :topic_id, class: "stat-response", value: "" %>
      <%= ff.text_field :measurement, class: "form-control" %>
      <hr />
      <%= ff.text_area :note, placeholder: "add note?", class: "form-control" %>
    </div>
  </div>
<% end %>
