<div class="row">
  <div class="col-sm-12">
    <h5><%= find_trail(@topic.id) %></h5>
    <h5></h5>
    <table class="table table-striped">
      <tr>
        <th>Date Noted</th>
        <th>Patient</th>
      </tr>
      <% @all.each do |a| %>
      <% @patient = Patient.find(a.patient_id) %>
        <tr>
          <% if a.visit_id %>
            <td>
              <a href="/visits/<%= a.visit_id %>/edit">
                <%= a.created_at.strftime("%d %B %Y") %>
              </a>
            </td>
          <% else %>
            <td>
              <%= a.created_at.strftime("%d %B %Y") %>
            </td>
          <% end %>
          <td>
            <%= link_to "Patient Information", patient_path(@patient.id) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
