<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5><%= find_trail(@topic) %></h5>
      </div>
      <table class="table table-striped table-hover" cellspacing="0" width="100%">
        <tr>
          <th>Date</th>
          <th>Patient</th>
        </tr>
        <% @all.each do |a| %>
        <% @patient = Patient.find(a.patient_id) %>
          <tr>
            <% if a.visit_id %>
              <td>
                <a href="/visits/<%= a.visit_id %>">
                  <%= a.created_at.strftime("%d %B %Y") %>
                </a>
              </td>
            <% else %>
              <td>
                <%= a.created_at.strftime("%d %B %Y") %>
              </td>
            <% end %>
            <td>
              <%= link_to "#{@patient.first_name} #{@patient.last_name}", patient_path(@patient.id) %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
