
<div class="container">
  <br />
  <div class="row" id="self">
    <div class="col-xs-2 col-xs-offset-2">
    </div>
    <div class="col-xs-2 col-xs-offset-1">
      <div class="card card-block">
        <h4 class="card-title">Self</h4>
        <p class="card-text">
        </p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="display: block; margin: 0 auto;">Self</button>
      </div>
    </div>
    <div class="col-xs-2 col-xs-offset-1">
    </div>
  </div>
  <br />
  <br />
  <div class="row" id="parents">
    <div class="col-xs">
      <div class="col-xs-3 col-xs-offset-2">
          <%= render 'relationships/family_member_card', x: @mother, y: "Mother", z: "mother" %>
        </div>
      </div>
      <div class="col-xs-3 col-xs-offset-2">
          <%= render 'relationships/family_member_card', x: @father, y: "Father", z: "father" %>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="row" id="grandparents">
    <div class="col-xs-12 col-centered">
      <div class="col-xs-3">
        <%= render 'relationships/family_member_card', x: @maternal_grandmother, y: "Maternal Grandmother", z: "maternalGrandmother" %>
      </div>
      <div class="col-xs-3">
        <%= render 'relationships/family_member_card', x: @maternal_grandfather, y: "Maternal Grandfather", z: "maternalGrandfather" %>
      </div>
      <div class="col-xs-3">
        <%= render 'relationships/family_member_card', x: @paternal_grandmother, y: "Paternal Grandmother", z: "paternalGrandmother" %>
      </div>
      <div class="col-xs-3">
        <%= render 'relationships/family_member_card', x: @paternal_grandfather, y: "Paternal Grandfather", z: "paternalGrandfather" %>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="motherModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render 'relationships/family_tree_modal', relationship: 'Mother' %>
</div>

<div class="modal fade" id="fatherModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render 'relationships/family_tree_modal', relationship: 'Father' %>
</div>

<div class="modal fade" id="maternalGrandmotherModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render 'relationships/family_tree_modal', relationship: 'Maternal Grandmother' %>
</div>

<div class="modal fade" id="maternalGrandfatherModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render 'relationships/family_tree_modal', relationship: 'Maternal Grandfather' %>
</div>

<div class="modal fade" id="paternalGrandmotherModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render 'relationships/family_tree_modal', relationship: 'Paternal Grandmother' %>
</div>

<div class="modal fade" id="paternalGrandfatherModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render 'relationships/family_tree_modal', relationship: 'Paternal Grandfather' %>
</div>
