<%= render 'layouts/form_header', concern: concern, f: f %>

<div class="form-group">
  <%= f.label :measurement, class: "form-control" %><br>
  <%= f.text_field :measurement, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :time_ago, class: "form-control" %><br>
  <%= f.text_field :time_ago, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :absolute_start_date, class: "form-control" %><br>
  <%= f.date_field :absolute_start_date, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :note, class: "form-control" %><br>
  <%= f.text_field :note, class: "form-control" %>
</div>

<%= render 'layouts/attachment_field', concern: concern, f: f %>
