<h3 class="red h3">Medication</h3>
<%= f.fields_for :medications, @nested_scope.medications.build do |fff| %>
  <%= render 'visits/visit_presence_checker', f: fff %>
  <div class="form-group">
    <%= fff.hidden_field :topic_id, class: "med-response", value: "" %>
    <br />
    <div class="row">
        <%= fff.label :medication_format, "Enter formatted medications as plain text:", class: "form-control-label" %>
        <%= fff.text_area :medication_format, class: "form-control", placeholder: "EPIC users: '.meds'" %>
    </div>
    <br />
    <div class="row">
      <div class="form-inline">
        <%= fff.label :name, "Name:", class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= fff.number_field :dosage_form_units, class: "form-control", step: 1, in: 1...99 %>
          <%= fff.text_field :name, class: "form-control", placeholder: "ex: metoprolol, levothyroxine" %>
          (<%= fff.text_field :common_name, class: "form-control", placeholder: "ex: Toprol XL, Synthroid" %>)
          <%= fff.select :dosage_form, DOSAGE_FORMS, {include_blank: true}, {class: "form-control"} %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-inline">
        <%= fff.label :dose, "Dose:", class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= fff.number_field :dose, class: "form-control", step: 1/100, in: 0..99999 %>
          <%= fff.select :dose_unit_of_measurement, DOSE_UNITS_OF_MEASUREMENT, {include_blank: true}, {class: "form-control"} %>
          <%= fff.select :ingestion_method, ADMINISTRATION_METHODS, {include_blank: true}, {class: "form-control"} %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-inline">
        <%= fff.label :frequency, "Frequency:", class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= fff.number_field :frequency, class: "form-control", in: 0..99999  %> time(s) per </h3>
          <%= fff.select :frequency_scale, FREQUENCY_SCALES, {include_blank: true}, {class: "form-control"} %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-inline">
        <%= fff.label :frequency, "Duration:", class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          for <%= fff.number_field :duration_amount, class: "form-control", in: 0..99999  %>
          <%= fff.select :duration_scale, DURATION_SCALES, {include_blank: true}, {class: "form-control"} %>
        </div>
      </div>
    </div>
    <br />
    <% unless @form_action == "Update" %>
      <%= fff.submit "Add Medication", class: "btn btn-success" %>
    <% end %>
  <% end %>
</div>
<div id="form-hook"></div>

<script>
function parseMeds(str) {

  kamille = str.split("\n• ");
  kamille.shift();
  for(var i = 0; i < kamille.length; i++){
    var obj = {

    }
  }
}
Current Outpatient Prescriptions
Medication Sig
Dispense Refill
• FLUoxetine (PROZAC) 20 mg tablet
take 20 mg by mouth daily
90 Tab 3
• Levonorgestrel (MIRENA) 20 mcg/24 hr IUD
by Intrauterine route.
• levothyroxine (SYNTHROID) 125 mcg TABS
take 1 Tab by mouth Every Day
• metoprolol (TOPROL XL) 100 mg sustained release tablet
TAKE 1 TABLET DAILY  90 Tab 3


</script>
