<%= f.hidden_field :concern_type, value: "Cardiac" %>
<%= f.hidden_field :patient_id, value: @patient.id %>
<% if @visit %>
  <%= f.hidden_field :visit_id, value: @visit.id %>
<% end %>
<div class="row form-group flex">
  <div class="col-xs-12">
    <%= label_tag '', "When did the dissection occur?", class: "purple h5" %>
    <br />
    <div class="col-xs-5">
      <%= f.label '', "Relative Date:", class: "control-label" %>
      <div class="form-inline">
        <div class="form-group">
          <%= f.number_field :time_ago, class: "form-control form-control-lg", in: 1..100, step: 1 %>
        </div>
        <div class="form-group">
          <%= f.select :time_ago_scale, TIME_SCALES, class: "form-control form-control-lg" %>   Ago
        </div>
      </div>
    </div>
    <div class="col-xs-2 text-xs-center" style="min-height:60px;">
      <%= render 'layouts/col_2_OR_buttons' %>
    </div>
    <div class="col-xs-5">
      <%= f.label :when, "Absolute Date:", class: "control-label" %>
      <%= f.date_field :when, autofocus: true, class: "form-control form-control-lg" %>
    </div>
  </div>
</div>
<div class="row form-group flex">
  <div class="col-xs-12">
    <%= f.label '', "Describe the location of the dissection:", class: "purple h5" %>
    <br />
    <div class="col-xs-6">
      <%= f.label :location, "Main Artery:", class: "control-label" %><br />
      <%= f.select :location, DISSECTION_LOCATIONS, placeholder: "Select Vessel", class: "form-control form-control-lg" %>
    </div>
    <div class="col-xs-6">
      <%= f.label :location, "Extent:", class: "control-label" %><br />
      <%= f.select :extent, AORTIC_EXTENTS, placeholder: "Select Aortic Extent", class: "form-control form-control-lg" %>
    </div>
  </div>
</div>
<div class="row form-group flex">
  <div class="col-xs-12">
    <%= f.label '', "What type of intervention was performed?", class: "purple h5" %>
    <br />
    <div class="col-xs-6">
      <%= f.label :intervention, "Procedure:", class: "control-label" %><br />
      <%= f.select :intervention, INTERVENTIONS, class: "form-control form-control-lg" %>
    </div>
    <div class="col-xs-6">
      <%= f.label :complication, "Complications?", class: "control-label" %><br />
      <%= f.select :complication, COMPLICATIONS, class: "form-control form-control-lg" %>
    </div>
  </div>
</div>
<br />
