<%= render 'layouts/form_header', concern: concern, f: f %>
<div class="form-group row">
  <%= f.label :measurement, class: "col-3 col-form-label" %>
  <div class="col-7">
    <%= f.text_field :measurement, class: "form-control" %>
  </div>
  <div class="col-2">
    <%= @vital.topic.units_of_measurement[0] %>
  </div>
</div>
<div class="form-group row">
  <%= f.label :note, class: "col-3 col-form-label" %>
  <div class="col-9">
    <%= f.text_field :note, class: "form-control" %>
  </div>
</div>
