<div id="vitalsFormAccordion" aria-multiselectable="true" role="tablist">
  <div class="card" style="border-color:#3B144A;" s>
    <div class="card-header red"  style="background-color:white; text-align:center" role="tab" id="vitalsFormHeading">

        Vitals
      </a>
    </div>

    <div class="card-block">
      <div class="row">
        <%= f.fields_for :vitals, @visit.vitals.build do |ff| %>
          <div class="col-sm-6">
            <%= render 'vitals/blood_pressure', ff: ff, sbp: @sbp[0], dbp: @dbp[0] %>
          </div>
          <% @stats.each do |s| %>

            <div class="col-sm-6">
              <%= render 'vitals/vital_form_body', ff: ff, s: s %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="card">
  <div class="card-header" role="tab" id="pastVitalsHeading">
    <a data-animation="false" data-toggle="collapse" data-parent="#pastVitalsAccordion" href="#pastVitalsCollapse" aria-expanded="false" aria-controls="pastVitalsCollapse" style="none">
    Past Measurements <i class="fa fa-caret-down"></i>
    </a>
  </div>
  <div id="pastVitalsCollapse" class="collapse" aria-labelledby="pastVitalsHeading">
    <div class-"card-block">
      <% if @patient.vitals.length != 0 %>
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <!-- <th>Type</th> -->
            <th>Date</th>
            <th>Name</th>
            <th>Measurement</th>
            <th>Note</th>
          </tr>
        </thead>
        <% @patient.vitals.each do |v| %>
        <tr>
          <!-- <th><%= link_to "#{v.topic_id}", topic_path(v.topic_id) %></th> -->
          <td><%= v.created_at.strftime("%b %Y") %></td>
          <td><%= v.topic.name %></td>
          <td><%= "#{print_if_present(v.measurement)} #{v.topic.units_of_measurement[0]}" %></td>
          <td><%= v.note %></td>
        </tr>
        <% end %>
      </table>
      <% else %>
      Patient has not had any vitals measured.
      <% end %>
    </div>
  </div>
</div>
