<div id="patientAccordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="patientHeading">
      <a data-animation="false" data-toggle="collapse" data-parent="#patientAccordion" href="#patientCollapse" aria-expanded="true" aria-controls="patientCollapse" style="none">
        Patient Information <i class="fa fa-caret-down"></i>
      </a>
    </div>
    <div id="patientCollapse" class="collapse" role="tabpanel" aria-labelledby="patientHeading">
      <div class="card-block">
        <h5><%= link_to "#{@patient.last_name}, #{@patient.first_name} #{@patient.middle_name ? @patient.middle_name : ''}", patient_path(@patient.id)  %></h5>
        <ul class="list-group">
          <li class="list-group-item">
            <label class="col-sm-3">Date of Birth</label>
            <div class="col-sm-9">
              <%= @patient.date_of_birth ? @patient.date_of_birth.strftime("%d %B %Y") : "not noted" %>
            </div>
          </li>
          <li class="list-group-item">
            <label class="col-sm-3">Sex</label>
            <div class="col-sm-9">
              <%= print_if_present(@patient.sex) %>
            </div>
          </li>
          <li class="list-group-item">
            <label class="col-sm-3">Email</label>
            <div class="col-sm-9">
              <a href="mailto:<%= @patient.email %>?Subject=Mail%20from%20NMF%20Tool" target="_blank">
                <%= @patient.email %>
              </a>
            </div>
          </li>
          <li class="list-group-item">
            <label class="col-sm-3">Phone Number</label>
            <div class="col-sm-9">
              Primary: <%= print_if_present(@patient.phone_1) %>
              Secondary: <%= print_if_present(@patient.phone_1) %>
            </div>
          </li>

          <li class="list-group-item">
            <label class="col-sm-3">Mailing Address</label>
            <div class="col-sm-9">
              <%= @patient.address_line_1 ? @patient.address_line_1 : "/n"%>
              <%= @patient.address_line_2 ? @patient.address_line_2 : "/n"%>
              <%= @patient.address_line_3 ? @patient.address_line_3 : "/n"%>
              <br />
              <%= "#{@patient.city}, #{@patient.state} #{@patient.postal_code}" %>
              <br />
              <%= @patient.country %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
