<div id="navbar-example">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item disabled">
      <a class="nav-link diabled">
        <%= @patient.full_name %>
      </a>
    </li>
    &nbsp
    <li class="nav-item disabled" title="born <%= @patient.date_of_birth.strftime('%e %B %Y').strip %>">
      <a class="nav-link disabled">
        <%= @patient.age %>
      </a>
    </li>
    <% if @patient.primary_diagnosis %>
    &nbsp
    <li class="nav-item disabled">
      <a class="nav-link disabled">
        <%= @patient.primary_diagnosis %>
      </a>
    </li>
    <% end %>
  </ul>
  <ul class="nav navbar-nav ml-auto justify-content-end" role="tablist">
    <li class="nav-item">
      <form class='button_to' method='post' action='/visits'>
        <input type="hidden" id="visit_patient_id" name="visit[patient_id]" value="<%= @patient.id %>"/>
        <input type="hidden" id="visit_clinician_id" name="visit[clinician_id]" value="1"/>
        <button class='nav-icon' type='submit' title="start new visit" data-confirm="Begin visit for patient <%= @patient.full_name %> as <%= Clinician.first.full_name %>">
          <i class="fa fa-stethoscope" aria-hidden="true"></i>
        </button>
      </form>
    </li>
    <li class="nav-item">
      <a href="/patients/<%= @patient.id %>/edit" title="edit demographic information">
        <button class="nav-icon">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
      </a>
    </li>
    <li class="nav-item">
      <a data-confirm="Are you sure you want to delete <%= @patient.full_name %> visit history and all associated records?" rel="nofollow" data-method="delete" href="/patients/<%= @patient.id %>" title="destroy patient records">
        <button class="nav-icon">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </a>
    </li>
  </ul>
</div>
