  <div class="row">
    <div class="col-sm-8">
      <%= form_tag "/patients", method: "get", id: "search-form" do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], placeholder:  "ex: 'John', 'Jane Doe', 'Doe'", class: "form-control"%>
          <span class="input-group-btn">
            <%= button_to "Search Patients", patients_path, class: "btn btn-secondary", method: "get", id: "search", type: "button" %>
          </span>
        </div>
      <% end %>
    </div>
    <div class="col-sm-4">
      <%= button_to "Add New Patient", new_patient_path, method: "get", class: "btn btn-block btn-secondary" %>
    </div>
  </div>
  <hr />
  <div class="row">
    <% if @patients.blank? %>
      <h4>There are no patients whose name contains "<%= params[:search] %>"</h4>
    <% else %>
    <div class="card">
      <div class="card-header">
        <% if !params[:search].blank? %>
          <h4>
            All patients whose names include "<%= params[:search] %>"
          </h4>
        <% else %>
          <h4>
            All Patients
          </h4>
        <% end %>
      </div>
      <table class="table table-sm table-striped table-responsive">
        <thead>
          <tr>
            <th>MRN</th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Last Visit</th>
            <th>Actions</th>
          </tr>
        </thead>
        <% @patients.each do |p| %>
          <tr>
            <td><%= link_to p.id, patient_path(p) %></td>
            <td><%= link_to "#{p.last_name}, #{p.first_name}", patient_path(p) %></td>
            <td><%= p.date_of_birth.strftime("%d %B %Y") %></td>
            <td>
              <% if p.visits.length === 0 %>
                No Visits Yet
              <% else %>
                <%= link_to "#{p.visits.last.created_at.strftime("%d %B %Y")}", edit_visit_path(p.visits.last.id) %>
              <% end %>
            </td>
            <td>
              <div class="btn-group" role="group">
                <form class='button_to' method='post' action='/visits'>
                  <input type="hidden" id="visit_patient_id" name="visit[patient_id]" value="<%= p.id %>"/>
                  <input type="hidden" id="visit_clinician_id" name="visit[clinician_id]" value="1"/>
                  <button class='btn btn-secondary btn-left' type='submit'>
                    New Visit
                  </button>
                </form>

                <%= link_to "Edit", edit_patient_path(p.id), method: :get, class: "btn btn-secondary" %>
                <%= link_to "Destroy", patient_path(p.id), method: :delete, data: { confirm: "Are you sure you want to delete all records for #{p.full_name}?"}, class: "btn btn-secondary" %>
              </div>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <hr />
  <%= will_paginate @family_members, renderer: BootstrapPagination::Rails %>

<% end %>
