<br />
  <div class="row">
    <div class="col-xs-10 col-centered">
      <%= form_tag "/patients", method: "get", id: "search-form" do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], placeholder:  "Search Patients...", class: "form-control" %>
          <span class="input-group-btn">
            <%= button_tag(patients_path, method: "get", type: "submit", class: "btn btn-default", id: "search" ) do %>
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <% end %>
          </span>
        </div><br /><br />
      <% end %>
      <% if @patients.blank? %>
        <h4>There are no patients whose name contains "<%= params[:search] %>"</h4>
      <% else %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <% if !params[:search].blank? %>
            <h1>All patients whose names include "<%= params[:search] %>"</h1>
          <% else %>
            <h1>All Patients</h1>
          <% end %>
        </div>
        <table class="table table-striped table-hover" cellspacing="0" width="100%">
          <tr>
            <th>ID</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Start Visit</th>
          </tr>
          <% @patients.each do |p| %>
            <tr>
              <td><%= link_to p.id, patient_path(p) %></td>
              <td><%= p.last_name %></td>
              <td><%= p.first_name %></td>
              <td><%= link_to "New visit", new_visit_path %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <%= will_paginate @patients, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
<% end %>
