<h1>New Patient Visit</h1>
<%= form_for @patient, url: {action: "create"}, html: {class: "patient_form"} do |f| %>
  <div class="field">
    <%= f.label "First Name" %>
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Last Name" %>
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <%= f.submit "Create" %>
<% end %>
