<h1>New Patient Information</h1>
<%= form_for @patient, url: {action: "create"}, html: {class: "patient_form"} do |f| %>
  <div class="field">
    <%= f.label "First Name: " %>
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Last Name: " %>
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Date of Birth (MM/DD/YYYY): " %>
    <%= f.number_field :month_of_birth, autofocus: true, in: 1...12 %> /
    <%= f.number_field :day_of_birth, autofocus: true, in: 1...31 %> /
    <%= f.number_field :year_of_birth, autofocus: true, in: 1900...9999 %>
  </div>

  <div class="field">
    <%= f.label :sex, "Sex: " %>
    <%= f.label :sex, "Female", :value => "F" %>
    <%= f.radio_button :sex, "F" %>
    <%= f.label :sex, "Male", :value => "M" %>
    <%= f.radio_button :sex, "M" %>
  </div>

  <%= f.submit "Create" %>
<% end %>
