<div class="row flex-items-xs-center">
  <div class="col-xs-12 col-centered">
    <h1><%= "#{@patient.first_name} #{@patient.last_name}" %></h1>
    <hr>
    <div class="btn-group btn-group-sm" role="group">
      <%= link_to "New Visit", new_visit_path(patient: @patient.id), type: "button", method: :get, class: "btn btn-secondary btn-success" %>
      <%= link_to "Edit Patient", edit_patient_path(id: @patient.id), type: "button", method: :get, class: "btn btn-secondary" %>
      <%= link_to "Destroy Records", patient_path(id: @patient.id), method: :delete, type: "button", class: "btn btn-secondary", data: { confirm: "Are you sure you want to delete Patient #{@patient.id} and all associated records?" } %>
    </div>
    <br /><br />
    <%= render 'patients/show',family_members: FamilyMember.where(patient_id: @patient.id), vitals: Vital.where(patient_id: @patient.id), tests: Test.where(patient_id: @patient.id), hospitalizations: Hospitalization.where(patient_id: @patient.id), symptoms: Symptom.where(patient_id: @patient.id), diagnoses: Diagnosis.where(patient_id: @patient.id), procedures: Procedure.where(patient_id: @patientt.id) %>
