<div class="row">
  <div class="col-sm-12 col-centered">
    <h2>
      <%= @patient.full_name %>
      <% if @patient.primary_diagnosis %>
        <small>
          - <%= @patient.primary_diagnosis %>
        </small>
      <% end %>
    </h2>

    <hr>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-centered">
    <div class="form-inline btn-group">
      <form class='button_to' method='post' action='/visits'>
        <input type="hidden" id="visit_patient_id" name="visit[patient_id]" value="<%= @patient.id %>"/>
        <input type="hidden" id="visit_clinician_id" name="visit[clinician_id]" value="1"/>
        <button class='btn btn-success' type='submit'>
          New Visit
        </button>
      </form>
      <%= link_to "Edit Patient", edit_patient_path(id: @patient.id), method: :get, class: "btn btn-warning" %>
      <%= link_to "Destroy Records", patient_path(id: @patient.id), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete Patient #{@patient.id} and all associated records?" } %>
    </div>
    <br /><br />

<div class="row">
  <div class="col-12">
    <%= render 'patients/show', concerns: @concerns %>
  </div>
</div>
