<div class="patient-show" data-spy="scroll" data-target="#navbar-example" data-offset="0">
  <% content_for :navbar do %>
    <%= render 'show_nav.html.erb', patient: @patient %>
  <% end %>
  <div class="row">
    <div class="col-12">
      <%= render 'visit_history', patient: @patient %>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-12">
      <%= render 'vitals_history', patient: @patient %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render 'imagery_history', patient: @patient %>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-12">
      <h4 id="patient_show_accordion">
        Known Concerns
      </h4>
      <%= render 'patients/show', concerns: @concerns %>
    </div>
  </div>
</div>
