<!-- <myscript-text-web
  applicationkey="<%= ENV['MYSCRIPT_KEY']%>"
  hmackey="<%= ENV['MYSCRIPT_HMAC']%>"
  protocol="REST"
  hideresult="true"
  hidebuttons="true"
  timeout="1000"
  recognitioncandidates="3"
  class="scribble"
  id="k_scribble"
  language="en_US">
</myscript-text-web> -->
<!-- <myscript-math-web
  applicationkey="<%= ENV['MYSCRIPT_KEY'] %>"
  hmackey="<%= ENV['MYSCRIPT_HMAC'] %>"
  id="ka_scrib">
</myscript-math-web> -->
<%= javascript_pack_tag 'hello_react' %>
<div class="patient-show" data-spy="scroll" data-target="#navbar-example" data-offset="0">
  <% content_for :navbar do %>
    <%= render 'show_nav.html.erb', patient: @patient %>
  <% end %>
  <div class="row">
    <div class="col-12">
      <%= render 'visit_history', patient: @patient %>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-12">
      <%= render 'vitals_history', patient: @patient %>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-12">
      <%= render 'imagery_history', patient: @patient %>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-12">
      <%= render 'concerns', concerns: @concerns %>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-12">
      <%= render 'relationships', patient: @patient %>
    </div>
  </div>
</div>
