<div class="form-group row">
  <%= f.label :time_ago, class: "col-3 col-form-label" %>
  <div class="col-9">
    <%= f.text_field :time_ago, class: "form-control" %>
  </div>
</div>

<div class="form-group row">
  <%= f.label :absolute_start_date, class: "col-3 col-form-label" %>
  <div class="col-9">
    <%= f.date_field :absolute_start_date, class: "form-control" %>
  </div>
</div>

<div class="form-group row">
  <%= f.label :note, class: "col-3 col-form-label" %>
  <div class="col-9">
    <%= f.text_field :note, class: "form-control" %>
  </div>
</div>

<%= render 'layouts/attachment_field', concern: concern, f: f %>
