<div class="form-group">
  <% topic = Topic.find(topic_id) %>
  <%= f.hidden_field :patient_id, value: @patient.id, name: "visit[tests_attributes][#{topic_id}][patient_id]", id: "visit_tests_attributes_#{topic_id}_patient_id" %>

  <%= f.hidden_field :visit_id, value: @visit.id, name: "visit[tests_attributes][#{topic_id}][visit_id]", id: "visit_tests_attributes_#{topic_id}_visit_id"%>

  <%= f.hidden_field :topic_id, value: topic_id, name: "visit[tests_attributes][#{topic_id}][topic_id]", id: "visit_tests_attributes_#{topic_id}_topic_id" %>

  <%= f.hidden_field :test_date, value: test_date, name: "visit[tests_attributes][#{topic_id}][test_date]", id: "visit_tests_attributes_#{topic_id}_test_date" %>

  <div class="form-inline">
    <%= f.number_field :result, class: "form-control form-control-lg", name: "visit[tests_attributes][#{topic_id}][result]", min: topic.min_value, max: topic.max_value, default_value: (topic.min_value+topic.min_value)/2, step: topic.step, id: "visit_tests_attributes_#{topic_id}_result" %>  <%= f.label :result, topic.units_of_measurement, class: "control-label" %>
  </div>
</div>
