<h3 class="red h3">Test</h3>
<h5 class="purple h5" id="test-title"></h5>
<%= f.fields_for :tests, @nested_scope.tests.build do |fff| %>
  <%= render 'visits/visit_presence_checker', f: fff %>
  <div class="form-group">
    <%= fff.hidden_field :topic_id, class: "test-response", value: "" %>
    <%= render 'layouts/file_attachment_row', f: fff %>
    <div class="row">
      <%= fff.label "When was the test?", class: "form-control-label" %><br />
    </div>
    <div class="row">
      <%= render 'layouts/relative_absolute_date', fff: fff, column_title: :absolute_start_date %>
    </div>
  </div>
  <%= fff.label "And what were the results of the test?", class: "form-control-label" %><br />
  <div class="input-group">
    <%= fff.number_field :result, class: "form-control", id: "test-result" %>
    <span class="input-group-btn">
      <button class="btn btn-default calculator" type="button" id="testCalcButton"><i class="fa fa-calculator"></i></button>
    </span>
  </div>
  <br />
  <% unless @form_action == "Update" %>
    <%= fff.submit "Add Test", class: "btn btn-success" %>
  <% end %>
<% end %>
<script>
$('#test-result').addKeyboard();
$('#testCalcButton').click(function(){
  var kb = $('#test-result').getkeyboard();
  // close the keyboard if the keyboard is visible and the button is clicked a second time
  if ( kb.isOpen ) {
    kb.close();
  } else {
    kb.reveal();
  }
});
</script>
