<div class="form-group">
  <% @topic = topic = Topic.find(topic_id) %>

  <%= f.hidden_field :patient_id, value: @patient.id, name: "visit[tests_attributes][#{@topic.id}][patient_id]", id: "visit_tests_attributes_#{@topic.id}_patient_id" %>

  <% if @visit %>
    <%= f.hidden_field :visit_id, value: @visit.id, name: "visit[tests_attributes][#{@topic.id}][visit_id]", id: "visit_tests_attributes_#{@topic.id}_visit_id"%>
  <% end %>

  <%= f.hidden_field :topic_id, value: topic.id, name: "visit[tests_attributes][#{@topic.id}][topic_id]", id: "visit_tests_attributes_#{@topic.id}_topic_id" %>

  <%= f.hidden_field :test_date, value: test_date, name: "visit[tests_attributes][#{@topic.id}][test_date]", id: "visit_tests_attributes_#{@topic.id}_test_date" %>
  <%= f.file_field :attachments, name: "visit[tests_attributes][#{@topic.id}][attachments][]", id: "visit_tests_attributes_#{@topic.id}_attachments", multiple: true, style: "display:none" %>
  <div class="input-group">
    <% if @topic.units_of_measurement %>
      <%= f.number_field :test_amount, in: @topic.min_value..@topic.max_value, step: @topic.step, name: "visit[tests_attributes][#{@topic.id}][test_amount]", id: "visit_tests_attributes_#{@topic.id}_test_amount", class: "form-control" %>
      <% if @topic.units_of_measurement.length === 1 %>
        <%= f.text_field :test_unit_of_meas, value: @topic.units_of_measurement[0], name: "visit[tests_attributes][#{@topic.id}][test_unit_of_meas]", id: "visit_tests_attributes_#{@topic.id}_test_unit_of_meas", class: "form-control"%>
      <% else %>
        <%= f.select :test_unit_of_meas, @topic.units_of_measurement, {include_blank: false}, {class: "form-control", name: "visit[tests_attributes][#{@topic.id}][test_unit_of_meas]", id: "visit_tests_attributes_#{@topic.id}_test_unit_of_meas"} %>
      <% end %>
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" id="test_<%= topic.id %>_calc_button">
          <i class="fa fa-calculator"></i>
        </button>
      </span>
    <% end %>
    <% if @topic.descriptors %>
      <%= f.select :note, @topic.descriptors, {include_blank: true, multiple: true}, {class: "form-control", name: "visit[tests_attributes][#{@topic.id}][note]", id: "visit_tests_attributes_#{@topic.id}_note"} %>
    <% end %>
    <span class="input-group-btn">
      <button class="btn btn-primary" type="button">
        <label for="visit_tests_attributes_<%= @topic.id %>_attachments" class="fontawesome-icon">
          <i class="fa fa-camera"></i>
        </label>
      </button>
    </span>
  </div>
</div>
<script>
$('#visit_tests_attributes_<%= topic.id %>_test_amount').addKeyboard();
$('#test_<%= topic.id %>_calc_button').click(function(e){
  e.stopImmediatePropagation();
  var kb = $('#visit_tests_attributes_<%= topic.id %>_test_amount').getkeyboard();
  // close the keyboard if the keyboard is visible and the button is clicked a second time
  if ( kb.isOpen ) {
    kb.close();
  } else {
    kb.reveal();
  }
});
</script>
