<div class="well well-lg">
  <h1>Edit <%= "#{find_pretty_trail(@test.topic.id).titleize}" %>
    <small><%= "#{@test.patient.last_name}, #{@test.patient.first_name} : #{@test.created_at}" %></small>
  </h1>

  <hr />
  <%= form_for @test do |f| %>
    <%= render 'tests/new', f: f %>
  <% end %>

  <%= link_to 'Show', @test %> |
  <%= link_to '‹ Back', :back, class: "btn btn-secondary" %>
</div>
