<!-- discussion_topic should be in plural underscore local variable format, i.e. hospitalizations, family_members -->
<% dt_str = discussion_topic.class.to_s.split('::').first.pluralize.parameterize %>
<div class="card">
  <div class="card-header">
    <%= dt_str.humanize.titleize %>
  </div>
  <div id="<%= dt_str %>Collapse" class="collapse show" role="tabpanel" aria-labelledby="<%= dt_str %>Heading">
    <% if discussion_topic.length != 0 %>
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <% dt_str.classify.constantize.table_headings.each do |th| %>
              <th>
                <%= th %>
              </th>
            <% end %>
          </tr>
        </thead>
        <% discussion_topic.each do |item| %>
          <tr>
            <% row = item.table_body %>
            <% row.each do |k, v| %>
              <td>
                <%= v %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% else %>
      Patient does not have any <%= dt_str.humanize %> on file yet. <%= link_to "Add Some", controller: dt_str, action: "new", class: "", patient: @patient %>
    <% end %>
  </div>
</div>
