<!-- discussion_topic should be in plural underscore local variable format, i.e. hospitalizations, family_members -->

<% if discussion_topic.class.to_s.include?('::') %>
  <% dt_str = discussion_topic.class.to_s.split('::').first.pluralize.underscore %>
<% else %>
  <% dt_str = discussion_topic[0].class.to_s.pluralize.underscore %>
<% end %>
<div class="card">
  <div class="card-header" role="tab" id="<%= dt_str %>Heading">
    <a data-toggle="collapse" data-parent="#showAccordion" href="#<%= dt_str %>Collapse" aria-expanded="false" aria-controls="<%= dt_str %>Collapse">
      <%= dt_str.humanize.titleize %>
    </a>
  </div>
  <div id="<%= dt_str %>Collapse" class="collapse" role="tabpanel" aria-labelledby="<%= dt_str %>Heading">
    <div class="card-block">
      <%= render 'layouts/table_body', dt_str: dt_str, discussion_topic: discussion_topic %>
    </div>
  </div>
</div>
