<!DOCTYPE html>
<html>
<head>
  <title>NMFTool</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= link_to "New Patient", new_patient_path %>
  <%= link_to "New Visit", new_visit_path %>
  <%= link_to "All Visits", visits_path %>
  <%= link_to "New Clinician", new_clinician_path %>

  <br />

<%= yield %>

</body>
</html>
