<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="https://s-media-cache-ak0.pinimg.com/236x/21/81/31/21813173e73abfbd07a0f83419a7093c.jpg" />
    <%= stylesheet_link_tag fingerprinted_asset('application'), media: 'all' %>
    <%= javascript_include_tag fingerprinted_asset('application') %>
    <%= csrf_meta_tags %>
    <link rel="import" href="https://cdn.rawgit.com/MyScript/myscript-math-web/12aedcb7/docs/components/myscript-math-web/myscript-math-web.html">
    <title>NMF Tool</title>

  </head>

  <body>
  <nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img alt="♥" src="https://s-media-cache-ak0.pinimg.com/236x/21/81/31/21813173e73abfbd07a0f83419a7093c.jpg" width="20" class="d-inline-block align-top">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <a class="nav-item nav-link red" href="/patients">
          New Visit
        </a>
      </ul>
    </div>
  </nav>
  <% if params[:controller] == 'visits' %>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>
    <%= yield %>
  <% else %>
    <div class="container container-fluid">
      <br />
      <div class="row">
        <div class="col col-sm-12 col-centered">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>">
              <%= value %>
            </div>
          <% end %>
        </div>
      </div>

      <%= yield %>

    </div>

  <% end %>
  </body>
</html>
